/* popup */
.btn_guide_box{border:1px solid #ddd;padding:20px;color:#000;display:inline-block; font-size:16px;}
/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;
    &.active{display:flex;
        &.motion_end{
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.6;}
        }
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:680px;margin:30px auto; max-height:calc(100% - 60px); background:#fff; overflow:hidden; border-radius:8px; border:1px solid #BBBBBB; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
    &.no_transition{transition:0s;opacity:1;transform:none;}
    &.size2{
        max-width:472px;
    }
    &.size3{
        max-width:600px;
    }
    &.size4{
        max-width:650px;
    }
    &.xsmall{max-width:300px;}
    &.medium{max-width:1060px;}
    &.xmedium{max-width:900px;}
    &.medium_large{max-width:600px;}
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#000;opacity:0;transition:.5s;
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}

.popup_title_row{flex:0;word-break: keep-all; text-align: center;
    border-bottom:1px solid #c1c1c1;padding:20px 30px;text-align: center;
    &.define_text{
        text-align: left;
    }
    & + .popup_contents_row{padding-top:0;}
}
.popup_title{font-size:32px;color:#333333;font-weight:700;letter-spacing: -0.05em;line-height:1.3; font-weight:600;}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;overflow-y:overlay;flex:1;font-size:16px;color:#333333;padding:20px 30px 20px;
    &.scroll_mode{padding-right:35px;}
    .section_brick_group{padding-top:25px;}
    
    .field_list_tr{gap:15px 20px;margin-right:-20px;
        > li{flex-basis: calc(50% - 20px);}
    }
    .ui-widget-content{position:absolute !important;}
    &.nopadding{padding:0;
        .popup_contents_inner{padding:0;}
    }
}
.popup_contents_inner{
    padding:20px 0 0 0;
    &.ptype2{padding:15px 0 0 0;}
}
.popup_primary_title{font-size:21px; color:#1b1b1b; font-weight:500;}
.popup_title_copy{font-size:13px; color:#999999;}
.pc_tape_row{
    padding:30px 20px;border-bottom:1px solid #e7e7e7;
    &:last-of-type{border-bottom:0;}
}

.touchmode {
    .popup_contents_row{
        &.scroll_mode{padding-right:70px;}
    }
}
.popup_btn_row{flex:0;padding:15px 30px 15px; border-top:1px solid #e7e7e7; display:flex;justify-content: center; position:relative; box-sizing: border-box;gap:5px;}
.touchmode{
    .popup_btn_row{
        &:after{
            width:calc(100%);
        }
    }
}

.btn_submitbox_w{display:flex;margin:0;padding:25px; justify-content: center;
    .btn_submitbox{margin:0 2.5px;}
}

.btn_submitbox{display:inline-block;word-break:keep-all;vertical-align:middle;box-sizing:border-box;border:0;font-size:17px; font-weight:500;text-align:center;min-width:400px; color:#fff;background:#3f4858;border-radius:100px;padding:15px 20px;

    &.inline_type{flex:0;min-width:inherit;white-space: nowrap;border-radius:4px;}
    &.small{font-size:14px;line-height:1;padding:12px}
}
/* .btn_popup_close{display:inline-block;width:30px;height:30px;position:absolute;top:55px;right:70px;
    &:before,
    &:after{width:42px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#221E1F; margin:-1px 0 0 -21px;
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
    &.pos2{top:30px;right:30px;}
}

 */
.btn_popup_close{display:block;width:30px;height:30px;background:url("../images/btn_popup_close.png") no-repeat 50% 50%/14px auto;position:absolute;top:20px;right:24px;

    &.type2{top:18px;}
    &.type3{right:15px;}
}

.popup_confirm_copy_wrap{
    text-align: center; padding:50px 30px;
}
.popup_confirm_copy{font-size:17px;color:#333333; word-break: keep-all;}


@media (max-width:$mobile_large){
    .popup_item{width:calc(100% - 40px);}
    .popup_title_row{padding:20px 50px 20px 20px;}
    .popup_title{font-size:20px;}
    .btn_popup_close{width:22px;height:22px; top:20px;right:20px;
        &:before,
        &:after{width:24px;margin:-1px 0 0 -12px;}
        &.pos2{top:20px;right:20px;}
    }
    .popup_primary_title{font-size:18px;}
    .popup_title_copy{font-size:13px;}
    .popup_contents_row{font-size:14px;padding:20px 20px 20px;
        &.scroll_mode {padding-right:10px;}
        .section_brick_group{padding-top:20px;}
    }
    .touchmode {
        .popup_contents_row{
            &.scroll_mode{padding-right:20px;}
        }
    }
    .popup_btn_row{ 
    }
    .popup_contents_inner{
        &.ptype2{padding-top:15px;}
    }

    .pc_tape_row{
        padding:20px 15px;
    }
}
/* // 공통 popup */


.btn_square{
    display:inline-flex;min-width:140px; min-height: 42px; background:#455267; border:1px solid #455267; border-radius:100px; justify-content: center; align-items: center;  gap:10px; box-sizing: border-box;
    .text_node{@include font(16px,400,1,#fff); display:inline-block;}
    &.type2{background-color:#fff;
        .text_node{color:#455267;}
    }
}
.btn_box{
    display:inline-flex;min-width:150px; min-height: 50px; background:#13479b; border-radius:100px; justify-content: center; align-items: center; gap:10px; box-sizing: border-box; padding: 0 10px;
    &.size2{
        min-height:35px;
        .btn_box_text{font-size:16px;}
    }
    &.size_submit{
        min-width:220px;
    }
    .ico{
        display:inline-block;
        &.down{width:17px;height:15px; background:url("../images/ico_download.png") no-repeat 0 0/100% auto;}
    }
}
.btn_box_text{color:#fff; font-size:18px; font-weight:500; display:inline-block;}

.btn_rego_list{
    display:flex; gap:5px; flex-wrap:wrap;
    > li{
        &:last-of-type{}
    }
}
.btn_rego{display:inline-block; background:#fff; border:1px solid #4e4e4e; border-radius:100px; @include font(15px,400,1.3,#4e4e4e); padding:9px 20px 10px; white-space: nowrap;
    &.size2{padding:6px 20px 7px; font-size:14px;}
    &.skin2{background:#fafafa}
}

.btn_vertex_wrap{
    margin-top:60px; display:flex; justify-content: center; gap:10px; align-items: center;
    .btn_vertex{
       
        &:only-of-type{}
        &:only-child{}
    }
}
.btn_vertex{
    display:inline-flex;min-width:300px; min-height:56px; align-items: center; justify-content: center; box-sizing: border-box; border:1px solid #176bdd; border-radius:100px;
    &.small{min-width:200px; min-height:46px;
        .text_node{font-size:19px;}
    }
    &.primary{background:#176bdd;
        .text_node{color:#fff;}
    }
    &.skin2{background-color:#455267; border-color:#455267;
        .text_node{color:#fff;}
    }
    .text_node{@include font(19px,500,1,#176bdd);}
}

@media (max-width:$tablet){
    .btn_vertex_wrap{
        margin-top:30px;
    }
    .btn_vertex{
        min-width:200px; max-width:calc(50% - 5px);
        &.small{
            .text_node{font-size:16px;}
        }
    }

}

@media (max-width:$mobile_large){
    .btn_box{
       min-width:120px;
       &.size2{
            min-height:30px; min-width:0;gap:5px;
            .btn_box_text{font-size:14px;}
        }
        .ico{
            &.down{width:12px;height:11px;}
        }
    }
    .btn_box_text{font-size:16px;}
    .btn_tin_list{
        gap:5px;
        > li{}
    }
    .btn_tin{
        border-radius:5px;
        .ico{width:14px;height:14px;flex-basis:14px;}
         .text_node{font-size:12px;}
    }

    .btn_square{
        min-width:100px;
        .text_node{font-size:14px;}
    }

    
    .btn_rego{font-size:11px; padding:3px 10px 4px; 
        &.size2{padding:2px 10px 3px; font-size:12px;}
    }
    .form_contblock_list{
         > li{margin-bottom:20px;}
    }
}

@media (max-width:$mobile){
    .btn_vertex{
        min-width:0; min-height:45px; gap:5px;
        flex:1; max-width:100%;
        &:only-of-type{max-width:calc(50% - 5px) !important;}
        &.small{min-width:0;max-width:100%;}
        .text_node{font-size:16px}
    }

}

@media (max-width:$mobile_size3){
    .btn_vertex_wrap{
        flex-direction: column; align-items: normal;
    }
}


/* form */
.props_item{
    display:inline-flex; gap:10px; align-items: flex-start;
    &.gap2{gap:8px;}
}
input.props_form{
    appearance: none; cursor: pointer;  box-sizing: content-box;
    &[type="checkbox"]{background:url("../images/ico_checkbox.png") no-repeat 0 0/100% auto;width:21px;height:21px;border:1px solid #bfbfbf; border-radius:3px;
        &:checked{
            background-position:0 100%; background-color:#3791f3; border-color:#3791f3;
            & + .props_label{}
        }
        &.circle{border-radius:100%;}
    }
    &[type="radio"]{
        background:url("../images/ico_radio.png") no-repeat 0 0/100% auto;width:22px;height:22px;border:1px solid #bfbfbf; border-radius:100%;
        &:checked{
            background-position:0 100%; border-color:#3791f3;
            & + .props_label{}
        }
        & + .props_label{}
    }
}
.props_label{cursor: pointer; font-size:16px; color:#444444; line-height:1.3;}
.props_item{}


select.form_select{
    border:1px solid #ccc; border-radius:5px; width:100%; font-size:15px;height:46px;color:#2d2d2d;padding: 0 45px 0 15px;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer;
    background: #fff url("../images/ico_select_44.png") no-repeat 100% 50%/auto 44px;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#2d2d2d;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#2d2d2d;
    }
    &.placeholder{color:#b5b5b5;}
    &:disabled{background-color:#f7f7f7;color:#b5b5b5;opacity:1;}
}
select.form_word_select{
    font-size:15px;color:#333;padding: 3px 25px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer; border:0; display:inline-block;
    background: url("../images/ico_single_select.png") no-repeat 100% 50%/17px auto;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#333333;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#333333;
    }
    &.placeholder{color:#b5b5b5;}
    &:disabled{background-color:#f7f7f7;color:#333333;opacity:1;}
    &.size2{font-size:14px;background-size:12px auto;padding-right:17px;}
}
select.cir_select{
    font-size:16px;color:#333;padding: 3px 32px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer; border:0; display:inline-block; min-height:25px;
    background: url("../images/ico_select_cir.png") no-repeat 100% 50%/25px auto;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#333333;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#333333;
    }
    &.placeholder{color:#b5b5b5;}
    &:disabled{background-color:#f7f7f7;color:#333333;opacity:1;}
    &.size2{}
}

.combo_box_wrap{position:relative;}
.combo_box_target{
    padding: 3px 22px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer;display:inline-block;
    background: url("../images/ico_single_select.png") no-repeat 100% 50%/15px auto;
    .text_node{
        font-size:15px;color:#333; line-height: 1.3;
    }
}
.combo_box_option_wrap{
    position: absolute;top: 100%;left: 50%; display:none; transform: translateX(-50%);
    width: auto;box-sizing: border-box;background: #fff;
    border: 1px solid #dcdcdc;max-height: 240px;overflow: hidden;overflow-y: auto;
}
.combo_box_option_list{
    > li{}
}
.combo_box_option{
    padding: 5px 10px;font-size: 14px;font-weight: 400;line-height: 1.3;color: #6d6c6c; white-space:nowrap;
    text-align: center;
    display: flex;justify-content: center;align-items: center;min-height: 30px;box-sizing: border-box;
    &:hover{background-color:#f0f0f0;}
}

.form_word_combo{
   padding: 3px 25px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer;display:inline-flex; align-items: center; gap:5px;
    background: url("../images/ico_single_select.png") no-repeat 100% 50%/17px auto;line-height: 1;
    .ico{
        flex:0 0 20px; width:20px; height:20px; @include bgicon;margin-right:3px;
        &.filter{
            background-image:url("../images/ico_filter.png");
        }
    }
    .word_key{ font-size:15px;color:#333; display:inline-block; line-height:1;}
    .word_count{font-size:18px; color:#000000; display:inline-block; line-height:1; position:relative;top:-1px;}
}



@media (max-width:1023px){
    input.props_form{
        &[type="checkbox"]{width:16px;height:16px; flex:0 0 16px;
        }
        &[type="radio"]{
            width:16px;height:16px; flex:0 0 16px;
        }
    }
    .props_label{font-size:14px;position:relative;top:-1px;}
    .props_item{gap:7px;
        &.gap2{gap:5px;}
    }
    
    select.form_select{height:40px;font-size:14px;padding-right:40px;background-size:auto 34px;}
    select.form_word_select{font-size:14px;}

    .form_word_combo{
        padding: 3px 25px 3px 0;box-sizing:border-box;font-family: 'Noto Sans KR';cursor: pointer;display:inline-flex; align-items: center; gap:5px;
         background: url("../images/ico_single_select.png") no-repeat 100% 50%/17px auto;line-height: 1;
         .ico{
             flex:0 0 20px; width:20px; height:20px; @include bgicon;margin-right:3px;
             &.filter{
                 background-image:url("../images/ico_filter.png");
             }
         }
         .word_key{ font-size:14px;}
         .word_count{font-size:16px;top:0;}
     }
     select.cir_select{font-size:14px; height:18px;background-size:18px auto;padding:0 22px 0 0;}
}


/* star */
.eval_value{display:inline-block; @include font(16px,500,1,#2b2b2b);white-space: nowrap;}
.eval_star_wrap{display:flex;align-items: center;
    &.size2{
         .eval_star{width:16px;height:16px;background-image:url("../images/ico_eval_star_16.png")}
    }
    &.size3{
         .eval_star{width:14px;height:14px;background-image:url("../images/ico_eval_star_14.png")}
    }
}
.eval_star{display:block;width:23px;height:23px;background:url("../images/ico_eval_star_23.png") no-repeat 0 0/100% auto;

    &.active{background-position:0 100%;}
}
@media (max-width:1023px){
    .eval_value{font-size:14px;}

    .combo_box_target{
        background-size:13px auto;padding-right:20px;
        .text_node{
            font-size:14px;
        }
    }
    .combo_box_option{
        font-size: 13px;
    }
}


/* paging */

/* .paging_wrap{margin-top:60px;display:flex;align-items: center;justify-content: center;}
.btn_paging_control{display:inline-block;width:30px;height:30px;background-position:50% 50%;background-repeat:no-repeat;background-size:100% auto;margin:0 5px;
    &.prev_first{background-image:url("../images/ico_paging_first.png");}
    &.prev_go{background-image:url("../images/ico_paging_prev.png");}
    &.next_go{background-image:url("../images/ico_paging_next.png");}
    &.next_last{background-image:url("../images/ico_paging_last.png");}
}

.paging_num_list{display:flex;align-items: center;justify-content: center;margin:0 10px;
     > li{margin:0 5px;}
}
.paging_num{display:inline-block;width:30px;height:30px;line-height:29px;white-space: nowrap;text-align: center;font-size:16px;
    &.active{background:#333c4c;color:#fff;font-weight:500;border-radius:4px;}
}

@media (max-width:$mobile_large){
    .paging_wrap{margin-top:30px;font-size:0;line-height:0;}
    .btn_paging_control{margin:0 2px;background-size:25px auto;width:25px;height:25px;}
    .paging_num_list{margin:0 5px;}
    .btn_paging_control:first-of-type{margin-left:0;}
    .btn_paging_control:last-of-type{margin-right:0;}
    .paging_num{font-size:13px;width:25px;height:25px;line-height:24px;}
    .paging_num_list > li{margin:0 2px;}
}
 */