/* 공통 추가 */
input.form_input{
    &.htype2{height:42px;}
}
select.form_select{
     &.htype2{height:42px;}
}

.sort_title_wrap{margin-top:40px; border-bottom:1px solid #a3a3a3; padding-bottom:20px; margin-bottom:20px;}
.sort_title_list{
     display:flex; justify-content: flex-end; gap:10px;
    > li{}
}
.inline_form_wrap{
    display:flex; gap:10px;
    .inline_cols{
        flex:1;
        &.liquid{}
        &.auto{flex:none;}
        input.form_input{}
    }
    select.form_select{}
    .btn_inline_role{}
}
.inline_form_wrap{}
.btn_inline_role{display:inline-block; background:#455267; line-height:42px; height:42px; border-radius: 100px; font-size:14px; color:#fff;white-space: nowrap; padding: 0 30px;}

.sort_form_container{
    display:flex; align-items: center; justify-content: space-between; gap:20px;
    .props_cols{}
    .legend_cols{}
}
.props_item_list{
    display:flex; gap:10px 24px; flex-wrap:wrap;
    > li{}
    .props_item{}
}
.legend_element_list{
    display:flex; gap:4px; flex-wrap:wrap;
    > li{}
}
.legend_element{padding:0 12px; display:inline-block; border-radius:100px; height:24px; line-height:24px; color:#fff; font-size:13px;}

.dataset_block_wrap{margin-top:35px;}
.dataset_block{
    margin-bottom:40px;
    &:last-of-type{margin-bottom:0;}
}
.dataset_title_row{margin-bottom:20px;}
.dataset_title{font-size:20px; color:#333333;}
.dataset_contents{background-color: rgb(249, 251, 255); border-radius: 10px; border:1px solid rgb(223, 223, 223); padding:20px 40px 35px;}

.ds_slice_block{
    margin-bottom:25px;
    &:last-of-type{margin-bottom:0;}
}
.ds_slice_title_row{margin-bottom:13px;}
.ds_slice_title{font-size:18px; color:#333333;}
.ds_slice_contents{}
.data_dp_wrap{}
.data_dp_list{
    display:flex; flex-wrap:wrap; text-align: center; white-space: nowrap;
    > li{
        border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; flex:0 0 10%; box-sizing: border-box; 
        position:relative;
        &:after{display:block;content:'';height:1px;width:calc(100% + 1px);background:#7e889a; position:absolute;top:0;left:-1px;}
        &:last-of-type{border-right:0;}
    }
}
.data_dp_item{
     background:#fff;
    dt,dd{ padding:15px;}
    dt{border-bottom:1px solid #d9d9d9;}
    dd{}
}
.data_dp_key,
.data_dp_value{font-size:16px; font-weight:500;}
.data_dp_key{}
.data_dp_value{color:#4e4e4e;}