@charset "utf-8";
@import '_mixin';

.unique_structure{max-width:1200px;margin:0 auto; position:relative; padding:0 30px 190px;}
.unique_title_row{padding:50px 0;text-align: center;}
.unique_title{font-size:36px; color:#1b1b1b; line-height:1.3;}
.unique_contents{position:relative;
    > .sv_box_only_wrap{margin-top:0;}
}
.unique_block_wrap{}
.unique_block{
    margin-bottom:130px;
    &.mbtype2{margin-bottom:50px;}
    &.mbtype3{margin-bottom:170px;}
    &:last-of-type{margin-bottom:0 !important;}
}
.unique_block_title_row{margin-bottom:25px;}
.unique_block_title{font-size:24px; color:#2b2b2b; line-height:1.3;}
.unique_block_contents{}
.unique_main_copy{position:relative; font-size:22px; color:#0067c2; text-align: center; padding:90px 0 55px; word-break: keep-all;
    &.ptype2{padding:60px 0 50px;}
    strong{font-weight:500; font-size:26px;}
}
.linked_diagram_wrap{
    position:relative; padding:0 30px;
    &:before{display:block;content:''; position:absolute;top:0;left:50%;transform: translateX(-50%); width:100vw;height:100%;background:url("../images/intro_company_info_bg.png") no-repeat 50% 50%/cover;}
}
/* .touchmode {
    .linked_diagram_wrap{
        &:before{width:100vw;}
    }
} */
.linked_diagram_list{
    position:relative; display:flex; justify-content: center; gap:120px; text-align: center; padding:90px 0 100px;
    > li{
        &.theme_02{
            .linked_diagram_title{color:#176bdd;}
            .linked_diagram_shape{background-image:url("../images/intro_company_info_02.png");
                &:before{background:#176bdd;}
            }
        }
        &.theme_03{
            .linked_diagram_title{color:#3a61e0;}
            .linked_diagram_shape{background-image:url("../images/intro_company_info_03.png");
                
            }
        }
        &:last-of-type{
            .linked_diagram_shape{
                &:before,
                &:after{display:none;}
            }
        }
    }
    &.v2{
        > li{
            .linked_diagram_shape{width:220px;height:220px;background-image:url("../images/intro_service_info_01.png");}
           &.theme_02{
                .linked_diagram_shape{background-image:url("../images/intro_service_info_02.png");}
            }
            &.theme_03{
                .linked_diagram_shape{background-image:url("../images/intro_service_info_03.png");}
            }
        }
    }
}
.linked_diagram_title_row{margin-bottom:15px;}
.linked_diagram_title{font-size:28px; color:#1c96c9; font-weight:700; line-height:1;}
.linked_diagram_shape_row{}
.linked_diagram_shape{display:flex; width:260px;height:260px;justify-content: center; align-items: center;border-radius: 100%; text-align: center; background:url("../images/intro_company_info_01.png") no-repeat 50% 50%/cover; position:relative;
    &:before{display:block;content:''; width:12px;height:12px;background:#1a8dbd; border-radius: 100%; position:absolute;top:50%;right:-66px; transform: translateY(-50%);z-index:1;}
    &:after{display:block;content:'';width:120px;height:1px;background:#bfd3ef; position:absolute;top:50%;right:-120px;}
}
.ld_shape_inner{padding:0 10px; color:#fff;}
.ld_shape_copy_block{
    &.has_ico{
        padding:5px;
        .ico{
            width:50px;height:50px; background:url("../images/ico_company_info.png") no-repeat 0 0/100% auto; margin:0 auto; display:block;
            &.shape_01{background-position:0 0;}
            &.shape_02{background-position:0 50%;}
            &.shape_03{background-position:0 100%;}
            &.v2{
                background-image:url("../images/ico_service_info.png");
                &.shape_01{background-position:0 0;}
                &.shape_02{background-position:0 50%;}
                &.shape_03{background-position:0 100%;}
            }
        }
    }
    *{word-break: keep-all;}
    .text_primary_node{font-size:18px; font-weight:500;}
    .text_main_node{font-size:20px; font-weight:500;}
    .text_sub_node{font-size:14px; font-weight:350; opacity:.7; margin-top:5px;}
    .text_secondary_node{font-size:15px; font-weight:350;}
}
.brand_diagram_container{padding:35px 0 0; text-align: center;}
.bd_toplogo{
    text-align: center; padding-bottom:40px;position:relative;
    &:before{display:block;content:'';width:1px;height:50%;background:#bfd3ef;position:absolute;bottom:0;left:50%;}
    img{vertical-align: top;position:relative;}
}
.bd_diagram_wrap{
    display:flex; justify-content: center; gap:170px; position:relative; overflow:hidden; 
    .bd_cols{
        flex:0 0 380px; position:relative; display:flex; flex-direction: column;
        &:before{display:block;content:'';width:200%;height:1px;background:#bfd3ef;position:absolute;top:0;left:50%;}
        .bd_line_wrap{
            &:after{display:block;content:'';width:12px;height:12px;background:#1a8dbd; position:absolute;bottom:0;left:50%;transform: translateX(-50%); border-radius: 100%;}
            height:40px; margin-bottom:110px; position:relative;
            .bd_line_blue{display:block;width:1px;height:100%;background:#bfd3ef; margin:0 auto; position:relative;
                &.last{
                    &:before{display:block;content:'';width:50vw; height:5px;background:#fff; position: absolute; top:0;left:1px;}
                }
            }
        }
        &.skin2{
            .bd_line_wrap{
                &:before{}
                &:after{}     
            }
            .bd_card{background:#7b7efd;
                .bd_sub_copy_row{
                    background-image:url("../images/bs_cols_img_02.png");
                }
            }
        }
    }
}
.bd_card{
    flex:1;background:#5a7dff; display:flex; flex-direction: column; border-radius: 30px 30px 50px 50px;  position:relative; padding-top:73px;/*  margin-top:110px; */ color:#fff;
}
.bd_layer{
    width:143px;height:143px;position:absolute; top:0;left:50%; transform: translate(-50%,-50%); overflow:hidden; border-radius: 100%; 
    img{position:absolute;top:0;left:0;width:100%;height:100%; object-fit: cover; object-position: 50% 50%;}
}
.bd_title_row{padding:15px;border-bottom:1px solid rgba(255,255,255,.2)}
.bd_title_copy{font-size:28px; font-weight:500;}
.bd_main_copy_row{padding:20px;}
.bd_main_copy{font-size:17px; word-break: keep-all;}
.bd_sub_copy_row{flex:1;background:url("../images/bs_cols_img_01.png") no-repeat 50% 50%/cover; border-radius: 0 0 30px 30px;border-top:1px solid rgba(255,255,255,.2); padding:25px 0 30px;}
.bd_sub_copy{
    font-size:14px; line-height:1.6; margin-bottom:10px; word-break: keep-all; letter-spacing: -0.5px;  word-break: keep-all;
    &:last-of-type{margin-bottom:0;}
}
.timeline_zone{
    position:relative; padding:0 0 100px 0;
    .unique_main_copy{margin-bottom:50px;}
    &:before{display:block;content:'';width:100vw;height:100%; position:absolute;top:0;left:50%; transform: translateX(-50%); background:#f7faff;}
}
/* .touchmode .timeline_zone{
    &:before{width:100vw;}
} */
.timeline_container{position:relative;}
.timeline_tree_wrap{
    position:relative;
    &:before{display:block;content:'';width:1px;height:100%;background:#d2d2d2; position:absolute;top:0;left:50%;transform: translateX(-50%);}
}
.timeline_tree_list{
    > li{
        display:flex; justify-content: flex-end;
        
        &:nth-of-type(2n){
            justify-content: flex-start;
             
            .timeline_item_wrap{
                &:before{left:auto;right:0;}
                &:after{left:auto;right:40px;}
                padding:0 70px 0 0;
                display:flex; justify-content: flex-end;
            }
            .timeline_item{
                &:after{background-image:url("../images/usu_tree_pointer_left.png"); right:-14px; left:auto;}
            }
        }
    }
}

.timeline_item_wrap{width:50%; box-sizing: border-box; padding-left:70px; position:relative;
    &:before{width:45px;height:1px; display:block;content:'';position:absolute;top:28px;left:0;background:#d2d2d2;}
    &:after{display:block;content:'';width:8px;height:8px;background:#0067c2; border-radius: 100%; position:absolute;top:25px;left:40px;}
}
.timeline_item{
    background:#fff; padding:15px 20px;border-radius: 20px; border:1px solid #d3e1f5; position:relative; display:inline-block; box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.05);
    &:after{display:block;content:'';width:14px;height:28px;background:url("../images/usu_tree_pointer_right.png") no-repeat 0 0/100% auto; position:absolute;top:20px;left:-14px; }
    .timeline_inner{}
}
.timeline_main_title{font-size:25px; color:#0067c2; font-weight:500;}
.timeline_sub_copy_wrap{margin-top:10px;}
.timeline_sub_copy{font-size:14px; color:#4e4e4e; line-height:1.5; margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.style_wordbox_wrap{padding:0 30px;}
.style_wordbox_list{
    display:flex; flex-wrap:wrap; gap:40px 34px; margin-right:-34px;
    > li{flex:0 0 calc(25% - 34px); display:flex; flex-direction: column;}
}
.style_wordbox{
    flex:1;box-shadow: 4.95px 4.95px 7px 0px rgba(0, 0, 0, 0.1); padding:35px 20px; border-radius: 20px; border:1px solid #176bdd; position:relative; text-align: center; display:flex; flex-direction: column; justify-content: center; align-items: center; background:#fff url("../images/ico_bg_promise.png") no-repeat 20px calc(100% + 3px)/32px auto;
    &:before{display:block;content:'';width:40px;height:40px; background:#176bdd url("../images/ico_promise_40.png") no-repeat 50% 50%/100% auto; border-radius: 100%; position:absolute;top:-20px;right:20px;}
}
.sw_ca_para{font-size:16px; color:#5f5f5f; line-height:1.4; margin-bottom:2px;}
.sw_para_wrap{}
.sw_main_copy{
    font-size:16px; color:#333333; 
    strong{font-size:18px;}
}
.sw_sub_copy{font-size:16px; color:#6d6c6c; font-weight:350; margin-top:2px;}

.history_info_wrap{
    position:relative;
    &:before{display:block;content:'';width:calc(100vw - 10px);height:100%; position:absolute;top:0;left:50%;transform: translateX(-50%);background:url("../images/bg_cinfo_history.jpg") no-repeat 50% 100%/cover;}
}

.touchmode{
    .history_info_wrap{
        &:before{width:100vw;}
    }
}
.history_info_inner{position:relative;}
.tabcard_wrap{padding:40px 0 55px;}
.tabcard_list{
    display:flex; justify-content: center; gap:10px;
    > li{flex:0 0 160px;display:flex; flex-direction: column; min-height:45px;}
}
.tabcard_element{
    flex:1;display:flex; justify-content: center; align-items: center; background:#1a2e46; border-radius: 100px; text-align: center;
    .text_node{ font-size:18px; color:#fff; font-weight:300; display:inline-block; position:relative;top:-1px;}
    &.active{
        background:#fff;
        .text_node{font-weight:500; color:#1a2e46;}
    }
}
.history_cont_group{
    padding:0 65px 80px;
}
.history_cont{
    display:none;
    &.active{display:block;}
}
.history_tree_wrap{border-left:1px solid rgba(255,255,255,.3);padding-top:12px;}
.history_tree_list{
    > li{
        position:relative; padding-left:70px; margin-bottom:40px;
        &:last-of-type{margin-bottom:0;}
    }
}
.history_tree_item{
    &:before{display:block; content:''; width:40px;height:1px; background:rgba(255,255,255,.3); position:absolute;top:14px;left:0}
    &:after{display:block;content:'';width:12px;height:12px;border:2px solid #fff;border-radius: 100%; position:absolute;top:7px;left:40px;}
    display:flex; gap:20px;
}
.ht_key_cols{}
.ht_value_cols{flex:1;}
.ht_key_node{font-size:26px; color:#fff; font-weight:500; line-height:1;}
.ht_value_list{
    font-size:14px; color:#fff;
    > li{
        margin-bottom:10px; padding-left:10px; position:relative;
        &:before{display:block;content:''; width:2px;height:2px; background:#fff; position:absolute;top:10px;left:0;}
    }
}
@media (max-width:1023px){
   .unique_structure{padding:0 20px 100px;}
    .unique_title_row{padding:30px 0;}
    .unique_title{font-size:18px;}
    .unique_block{
        margin-bottom:70px;
        &.mbtype2{margin-bottom:25px;}
        &.mbtype3{margin-bottom:80px;}
    }
    .unique_block_title_row{margin-bottom:15px;}
    .unique_block_title{font-size:16px;}

    .unique_main_copy{font-size:16px; padding:30px 0;
        &.ptype2{padding:30px 0 45px;}
        strong{font-size:18px;}
    }

    .linked_diagram_wrap{padding:0;}
    .linked_diagram_list{
        gap:60px; padding:40px 0 50px;
        > li{
        }
        &.v2{
            > li{
                .linked_diagram_shape{width:220px;height:220px;}
            }
        }
    }
    .linked_diagram_title_row{margin-bottom:15px;}
    .linked_diagram_title{font-size:16px;}
    .linked_diagram_shape{width:200px;height:200px;
        &:before{right:-35px;width:8px;height:8px;}
        &:after{width:60px;right:-60px;}
    }
    .ld_shape_inner{padding:0 10px;}
    .ld_shape_copy_block{
        &.has_ico{
            padding:2px;
            .ico{
                width:30px;height:30px;
            }
        }
        .text_primary_node{font-size:13px}
        .text_main_node{font-size:15px;}
        .text_sub_node{font-size:12px; margin-top:2px;}
        .text_secondary_node{font-size:13px;}
    }

    .brand_diagram_container{padding:0 0;}
    .bd_toplogo{max-width:143px;margin:0 auto;padding-bottom:20px;}
    .bd_diagram_wrap{
        gap:30px;
        .bd_cols{
            flex:1;
            .bd_line_wrap{
                height:40px; margin-bottom:50px;
                 &:after{width:8px;height:8px;}
            }
        }
    }
    .bd_card{
        border-radius: 30px 30px 50px 50px; padding-top:40px;
    }
    .bd_layer{
        width:70px;height:70px;
    }
    .bd_title_row{padding:10px;}
    .bd_title_copy{font-size:16px;}
    .bd_main_copy_row{padding:15px;}
    .bd_sub_copy,
    .bd_main_copy{font-size:14px;}
    .bd_sub_copy_row{border-radius: 0 0 30px 30px; padding:15px;
        br{display:none;}
    }

    .timeline_zone{
        padding-bottom:50px;
        .unique_main_copy{margin-bottom:15px;}
    }
    .timeline_item_wrap{padding-left:30px;
        &:before{width:12px;}
        &:after{left:10px;width:6px;height:6px;top:26px;}
    }
    .timeline_tree_list{
         > li:nth-of-type(2n){
             .timeline_item_wrap{
                padding-right:30px;
                &:after{right:10px;}
             }
         }
    }
    .timeline_item{display:block;padding:10px 15px;flex:1;}
    .timeline_main_title{font-size:16px;}
    .timeline_sub_copy_wrap{margin-top:5px;}
    .timeline_sub_copy{font-size:13px;margin-bottom:10px;}

    .style_wordbox_wrap{padding:0 20px;}
    .style_wordbox_list{gap:20px; margin-right:-20px; flex-wrap:wrap;
        > li{flex:0 0 calc(25% - 20px);}
    }
    .style_wordbox{
        padding:20px 15px; border-radius:15px; background-size: 20px auto; background-position-x: 15px;
        &:before{width:30px;height:30px; right:15px; top:-15px;}
    }
    .sw_sub_copy,
    .sw_ca_para{font-size:14px;}
    .sw_main_copy{font-size:14px;
        strong{font-size:16px;}
    }
    .tabcard_wrap{padding:30px 0 35px;}
    /* .tabcard_list{
        > li{flex:0 0 160px;}
    } */
    .tabcard_element{
        .text_node{ font-size:16px;}
    }
    .history_cont_group{padding:0 20px 40px;}
}
@media (max-width:767px){
    .unique_structure{padding-bottom:60px;}
    .unique_block{margin-bottom:40px;}
    /* .linked_diagram_list{
        gap:40px; padding:30px 0 30px;
        &.v2{
            > li{
                .linked_diagram_shape{width:200px;height:200px;}
            }
        }
    }
    .linked_diagram_title_row{margin-bottom:15px;}
    .linked_diagram_title{font-size:16px;}
    .linked_diagram_shape{width:200px;height:200px;
        &:before{right:-25px;width:8px;height:8px;}
        &:after{width:40px;right:-40px;}
    }
    .ld_shape_inner{padding:0 10px;}
    .ld_shape_copy_block{
        &.has_ico{
            padding:2px;
            .ico{
                width:30px;height:30px;
            }
        }
        .text_primary_node{font-size:13px}
        .text_main_node{font-size:15px;}
        .text_sub_node{font-size:12px; margin-top:2px;}
        .text_secondary_node{font-size:13px;}
    } */
    .linked_diagram_list {
        gap: 5.22vw;
        padding: 3.91vw 0 3.91vw;
        &.v2 {
            > li {
            .linked_diagram_shape {
                width: 26.08vw;
                height: 26.08vw;
            }
            }
        }
    }
    .linked_diagram_title_row {
        margin-bottom: 1.96vw;
    }
    .linked_diagram_title {
        font-size: 3vw;
    }
    .linked_diagram_shape {
        width: 26.08vw;
        height: 26.08vw;
        &:before {
            right: -3.26vw; 
            width: 1.04vw;
            height: 1.04vw;
        }
        &:after {
            width: 5.22vw;
            right: -5.22vw;
        }
    }
    .ld_shape_inner {
        padding: 0 1.30vw;
    }
    .ld_shape_copy_block {
        &.has_ico {
            padding: 0.5vw 0.26vw;
            .ico {
            width: 4.5vw;
            height: 4.5vw;
            }
        }
        .text_primary_node {
            font-size: 2.5vw;
        }
        .text_main_node {
            font-size: 1.8vw; line-height:1.3;
        }
        .text_sub_node {
            font-size: 1.5vw;
            margin-top: 0.26vw;
        }
        .text_secondary_node {
            font-size: 1.9vw;
        }
    }
    .kakao{
        .ld_shape_copy_block {
        &.has_ico {
                .ico {
                    width: 4.0vw;
                    height: 4.0vw;
                }
            }
            .text_sub_node {
                margin:0;
                transform: scale(0.82);
            }
        }
    }
    .bd_diagram_wrap{
         .bd_cols{
             .bd_line_wrap{margin-bottom:25px;}
         }
    }
    .bd_layer{width:50px;height:50px;}
    .bd_card{
        border-radius: 20px 20px 50px 50px; padding-top:20px;
    }
    .bd_diagram_wrap{
        gap:20px;
        .bd_cols{
            .bd_line_wrap{
                height:30px; margin-bottom:35px;
            }
        }
    }
    .bd_title_row{padding:10px;}
    .bd_title_copy{font-size:13px;}
    .bd_main_copy_row{padding:10px;}
    .bd_sub_copy,
    .bd_main_copy{font-size:12px;}
    .bd_sub_copy_row{border-radius: 0 0 20px 20px; padding:10px;}

    .style_wordbox_list{
        gap:20px 10px; margin-right:-10px;
        > li{flex:0 0 calc(50% - 10px);}
    }

    .style_wordbox_wrap{padding:0}

    .style_wordbox{
        padding:20px 15px;
        &:before{width:30px;height:30px; right:15px; top:-15px;}
    }
    .sw_sub_copy,
    .sw_ca_para{font-size:12px;}
    .sw_main_copy{font-size:12px;
        strong{font-size:14px;display:block;}
    }

    .tabcard_wrap{padding:30px 0 35px;}
    .tabcard_list{
        gap:5px; margin-right:-5px;
        > li{flex:0 0 calc(33.3333% - 5px);min-height:40px;}
    }
    .tabcard_element{
        .text_node{ font-size:14px;}
    }
    .history_cont_group{padding:0 0 30px;}

    .history_tree_list{
        > li{
            padding-left:40px; margin-bottom:20px;
        }
    }
    .history_tree_item{
        &:before{width:20px;top:10px;}
        &:after{width:8px;height:8px;top:4px;left:20px;}
        display:flex; gap:20px;
    }
    .ht_key_node{font-size:16px;}
    .ht_value_list{
        > li{
            &:before{top:10px;}
        }
    }
    .ht_value_cols{position:relative;top:-1px;}
}
@media (max-width:374px){
    .timeline_main_title{font-size:14px;}
    .timeline_sub_copy{font-size:12px;}
}

/* customer */
.unique_gate_group{position:relative;}
.gate_block{
    margin-bottom:55px;
    &:last-of-type{margin-bottom:0;}
}
.sv_container{
    position:relative; z-index:2;
}
.sv_box_only_wrap{
    margin-top:45px;
    .sv_box{}
}
.sv_box_wrap{
    background:url("../images/bg_sv_tape_bg.jpg") no-repeat 0 100%/cover;border-radius:50px 40px 27px 27px;
    .sv_box{border-radius:27px 27px 27px 0;}
}

.sv_box{
    display:flex; min-height:200px; justify-content: center; align-items: center; position:relative; overflow:hidden; border-radius:27px 27px 0 27px; padding:15px; box-sizing: border-box;
    .bg{
        position:absolute;top:0;left:0;width:100%;height:100%;background-position: 50% 50%; background-repeat:no-repeat; background-size:cover;
        &.vip{background-image:url("../images/bg_sv_img4.jpg");}
        &.live{background-image:url("../images/bg_sv_img3.jpg");}
        &.customer{background-image:url("../images/bg_sv_img2.jpg");}
        &.traveling{background-image:url("../images/bg_sv_img.jpg");}
    }
}
.sv_title_wrap{position:relative; display:flex; align-items: center; justify-content: center;}
.sv_title_item{
    display:flex; align-items: center; justify-content: center; gap:13px; text-align: center;
    .ico{
        width:66px;height:66px; flex:0 0 66px; border-radius: 100%; background-color:#176bdd; background-position:50% 50%; background-repeat:no-repeat; background-size:100% auto;
        &.monitor{background-image:url("../images/ico_sv_monitor.png");}
        &.men2{background-image:url("../images/ico_sv_men2.png");}
        &.men3{background-image:url("../images/ico_sv_men3.png");}
        &.vip{background-image:url("../images/ico_sv_king.png");}
    }
}
.sv_title{font-size:24px; line-height:1.3; color:#fff; position:relative; top:-2px; word-break: keep-all; text-align: left;}
.sv_tape{padding:15px; min-height:60px; box-sizing: border-box; }
.sv_info_list{
    display:flex; justify-content: center; gap:10px 80px;
    > li{}
}
.sv_item{
    display:flex; gap:10px; align-items: center;
    dt,dd{}
    dt{}
    dd{}
}
.sv_dt_node,
.sv_dd_node{ color:#fff; font-weight:500;}
.sv_dt_node{font-size:16px;}
.sv_dd_node{font-size:20px;}

@media (max-width:1023px){
    .sv_box_only_wrap{
        margin-top:30px;
    }
    .sv_box{min-height:150px; border-radius:15px 15px 0 15px;}
    .sv_box_wrap{
        border-radius:50px 40px 15px 15px;
        .sv_box{border-radius:15px 15px 15px 0;}
    }
    .sv_title_item{
         .ico{width:50px;height:50px; flex-basis: 50px;}
    }
    .sv_title{font-size:20px;}
    .sv_tape{min-height:40px;padding:10px;}
    .sv_info_list{
        gap:10px 40px;
        > li{}
    }
    .sv_dt_node{font-size:14px;}
    .sv_dd_node{font-size:16px;}
}
@media (max-width:767px){
    .sv_box{min-height:100px;}
    .sv_title_item{
         .ico{width:40px;height:40px; flex-basis: 40px;}
    }
    .sv_title_item{gap:8px;}
    .sv_title{font-size:16px;}

    .sv_info_list{
        gap:10px 20px;
        > li{}
    }
    .sv_item{display:flex; flex-direction: column; gap:3px; text-align: center;}
    .sv_dt_node{font-size:12px;}
    .sv_dd_node{font-size:14px; line-height:1.2;}
}
@media (max-width:374px){
    .sv_title_item{
         .ico{width:35px;height:35px; flex-basis: 35px;}
    }
    .sv_title_item{gap:5px;}
    .sv_title{font-size:14px;}
}


.sv_board_container{
    padding-bottom:65px;
    .bg{position:absolute;top:200px;left:50%; transform: translateX(-50%); width:100vw;height:calc(100% - 200px); background:url("../images/bg_customer_faq.png") no-repeat 50% 50%/cover;}
    > *{position:relative;}
    .tabcard_item_wrap{
        .tabcard_item{}
    }
    .btn_paging_control,
    .paging_num:not(.active){background-color:#fff;}
}
/* .touchmode {
    .sv_board_container{
        .bg{width:100vw;}
    }
} */
.sv_board_title_row{margin-bottom:20px;}
.sv_board_title{font-size:18px; color:#333333;}

.sv_note_copy_wrap{text-align: center; margin-top:30px;}
.sv_note_copy{font-size:18px; color:#333333; word-break: keep-all;}

.board_card_wrap{
    & + .paging_wrap{}
}
.board_card_list{
    display:flex; flex-wrap:wrap; gap:15px; margin-right:-15px;
    > li{
        flex:0 0 calc(33.333333333% - 15px); display:flex; flex-direction: column;
        &.nodata_li{flex:0 0 calc(100% - 15px);
            .nodata_para{font-size:15px; color:#333333; line-height:1.4;text-align: center;}
        }
    }
}
.board_card{
    flex:1;background:#fff; border:1px solid rgb(218, 218, 218);border-radius: 20px; padding:22px 28px;
}

.board_indent_wrap{
    display:flex; gap:10px; margin-bottom:15px; align-items: center;
    &.skin2{
        align-items: flex-start;
        .board_indent_bullet{background-color:#c3c3c3;}
        .board_indent_liquid{color:#6d6c6c;}
    }
    &:last-of-type{margin-bottom:0;}
}
.board_indent_bullet{flex:0 0 30px; width:30px; height:30px; border-radius: 100%; line-height:27px; text-align: center; font-size:16px; font-weight:500; background:#176bdd; color:#fff;}
.board_indent_liquid{font-size:15px; color:#333333; line-height:1.4; padding-bottom:1px;}

.banner_card_container{margin-top:60px;}
.banner_card_block{
    margin-bottom:50px;
    &:last-of-type{margin-bottom:0}
}
.bc_box_grid{display:flex; flex-wrap:wrap; gap:20px; margin-right:-20px;}
.bc_box{
    flex:0 0 calc(50% - 20px); border-radius: 10px; gap:20px; background-color: rgb(245, 246, 248); box-sizing: border-box; padding:20px 35px; display:flex; align-items: center;
    &:last-of-type{}
    .copy_cols{flex:1;}
    .btn_cols{flex:0 0 70px;}
}
.bc_main_copy_group{
    display:flex; align-items: center; gap:30px;
    .ico{
        background-repeat:no-repeat; background-size:100% auto; background-position: 0 0;
        &.shape_mike{background-image:url("../images/ico_mike_big.png"); width:28px; height:39px; flex:0 0 28px;}
        &.shape_docu{background-image:url("../images/ico_docu_big.png"); width:32px; height:38px; flex:0 0 32px;}
    }
}
.bc_copy_group{}
.bc_main_copy{font-size:17px; color:#4e4e4e; font-weight:500;}
.bc_sub_copy{font-size:14px; color:#6d6c6c; line-height:1.4; margin-top:5px;}

.btn_shape_box{
    display:flex; justify-content: center; align-items: center; box-sizing: border-box; border:1px solid #176bdd; border-radius: 100%; width:70px;height:70px; text-align: center; line-height:1.3;
    .text_node{display:inline-block; font-size:14px; color:#176bdd}
}

.voucher_box_grid{
    display:flex; flex-wrap:wrap; gap:20px; margin-right:-20px;
    .liquid_cols,
    .fixed_cols{flex:0 0 calc(50% - 20px);}
    .liquid_cols{ display:flex; flex-direction: column;}
    .fixed_cols{display:flex; gap:13px;}
}
.voucher_board_box{
    flex:1;border:1px solid rgb(217, 217, 217);  border-radius: 10px; background:#fff; box-sizing: border-box; padding:0 30px;
    .title_row{padding:20px 0 11px; border-bottom:1px solid #e7e7e7; display:flex; justify-content: space-between; align-items: center; gap:20px;}
    .contents_row{padding:25px 0;}
}

.vb_title{
    display:flex; gap:8px; align-items: center;
    .ico{
        width:19px; height:27px; background-repeat:no-repeat; background-size:100% auto; background-position:0 0;
        &.shape_mike{background-image:url("../images/ico_mike_sm.png");}
    }
    .text_node{font-size:19px; color:#333333; font-weight:500; display:inline-block;}
}
.btn_shape_more{display:inline-block;width:16px; height:16px;position:relative;
    &:before,
    &:after{display:block;content:''; background:#000; position:absolute;top:50%;left:50%; transform: translate(-50%,-50%);}
    &:before{width:2px;height:10px;}
    &:after{width:10px;height:2px;}
}
.linkage_data_list{
    > li{
        margin-bottom:8px; padding-left:10px; position:relative;
        &:before{display:block;content:'';width:2px;height:2px; background:#5f5f5f; position:absolute;top:11px;left:0;}
        &:last-of-type{margin-bottom:0;}
        &.nodata_li{
            min-height:162px;display:flex; flex-direction: column; justify-content: center; align-items: center; padding:0;
            .nodata_para{padding:0;}
            &:before{display:none;}
        }
    }
}
.lk_data{display:flex; gap:10px;}
.lk_title{@include clamp(1); color:#5f5f5f; font-size:15px; flex:1;}
.lk_else{flex:0;white-space: nowrap; color:#6d6c6c; font-size:15px; display:inline-block; text-align: right;}
.look_box{
    flex:1;display:flex; flex-direction: column; border-radius: 10px; background:#ddf2f9; padding:19px 20px 14px;
    &.skin2{background:#eee7f7;}
}
.look_title_row{padding:0 0 12px 0;border-bottom:1px solid #fff;flex:0;}
.look_title{font-size:18px; font-weight:500;}
.look_contents{padding-top:15px;flex:1; display:flex; flex-direction: column; justify-content: space-between;}
.lc_copy_group{}
.lc_main_copy{font-size:16px; color:#333333; line-height:1.3;}
.lc_sub_copy{font-size:14px; color:#6d6c6c; margin-top:10px; line-height:1.3; word-break: keep-all;}

.lc_ico_group{
    display:flex; justify-content: flex-end;padding:0 5px 0 0; position:relative; top:-10px;
    .ico{
        width:42px; height:46px; flex:0 0 42px; background-repeat:no-repeat; background-size:100% auto; background-position:0 0;
        &.shape_marker{background-image:url("../images/ico_colored_marker_42.png");}
        &.shape_building{background-image:url("../images/ico_colored_build_42.png");}
    }
}



.copy_plate_wrap{text-align: center;padding:70px 0;}
.copy_main_plate{font-size:27px; color:#2b2b2b; word-break: keep-all;}
.copy_sub_plate{font-size:16px; color:#5f5f5f; margin-top:20px; word-break: keep-all;}


.involve_diagram_container{
    position:relative; padding-bottom:65px;
    > *{position:relative}
    .linked_diagram_wrap{position:static;}
    .linked_diagram_list{padding:70px 0;}
}

.quote_word_wrap{
    text-align: center;
}
.quote_word{
    display:inline-block;
    /* &:before,
    &:after{display:inline;font-size:44px; color:#176bdd;height:0;white-space: nowrap;}
    &:before{content:'“'}
    &:after{content:'”'} */
    .text_node{font-size:17px; line-height:1.8; display:inline;}
}
.quote_left,
.quote_right{display:inline-block;font-size:44px; color:#176bdd;white-space: nowrap; line-height:0; position:relative; top:20px;}
.quote_left{content:'“';}
.quote_right{content:'”';}

.accent_bar_wrap{text-align: center; margin-top:30px;}
.accent_bar{display:inline-block; word-break: keep-all; border:1px solid rgb(211, 223, 240); background:#fff; border-radius:100px; font-size:20px; font-weight:500; color:#176bdd; padding:15px 60px;}

.feature_block_wrap{padding:80px 0 0 0;}
.feature_block_list{
    > li{
        padding:0 0 70px 0;margin-bottom:70px; border-bottom:1px solid #e7e7e7;
    }
}
.feature_block{
    display:flex; gap:45px;
    .img_cols{
        flex:0 0 249px;
        img{vertical-align: top;}
    }
    .copy_cols{flex:1; min-width:0;}
}
.feature_copy_wrap{
    &.gap2{
        .feature_copy{margin-bottom:10px;line-height:2.0;}
    }
}
.feature_copy{
    font-size:16px; color:#333333; line-height:1.6; margin-bottom:35px;
    &.accent{font-size:19px; font-weight:500;}
    &:last-of-type{margin-bottom:0 !important;}
}
.btn_feature_group{margin-top:70px; display:flex; gap:10px; align-items: center; 
    &.type2{
        max-width:610px; justify-content: center;
    }
}
.btn_frame{
    display:inline-flex; min-width:300px; height:56px; text-align: center; justify-content: center; align-items: center; border:1px solid rgb(69, 82, 103); background-color:#fff; border-radius: 100px; box-sizing: border-box; padding:10px;
    .text_node{font-size:18px; color:#455267; font-weight:500;}
    &.full{background-color:#455267;
        .text_node{color:#fff;}
    }
    &.primary{background:#176bdd;border-color:#176bdd;
        .text_node{color:#fff;}
    }
}


.info_outline_wrap{
    border:1px solid rgb(217, 217, 217);  border-radius: 10px; background-color:#fff; display:flex; align-items: center; padding:18px 0;
    .fixed_cols{white-space: nowrap; flex:0 0 200px; position:relative;text-align: center; display:flex; align-items: center; justify-content: center; padding:0 15px;
        &:after{display:block;content:'';width:1px; height:30px; background:#d7d7d7; position:absolute;top:50%;right:0; transform: translateY(-50%);}
    }
    .liquid_cols{flex:1;}
}

.info_node_obj{
    display:flex; align-items: center; gap:6px;
    .ico{
        width:30px; height:30px; background-position:0 0;background-repeat:no-repeat; background-size:100% auto; flex:0 0 30px;
        &.shape_call{background-image:url("../images/ico_call_30.png");}
    }
    .text_node{font-size:16px; color:#4e4e4e; display:inline-block;}
}
.prompt_info_list{
    display:flex; gap:20px; justify-content: center; align-items: center; gap:70px;
    > li{}
}
.prompt_item{
    display:flex; align-items: center; gap:7px;
    dt,dd{}
    dt{}
    dd{}
}
.prompt_dt_node,
.prompt_dd_node{display:inline-block;color:#4e4e4e;}
.prompt_dt_node{font-size:16px; }
.prompt_dd_node{font-size:20px; font-weight:500;}

.explan_wrap{margin-top:60px;}
.explan_block{
    margin-bottom:100px;
    &:last-of-type{margin-bottom:0;}
}
.explan_title_row{display:flex; justify-content: space-between; gap:20px; align-items: center; margin-bottom:15px;}
.explan_title{font-size:20px; color:#333333;}
.explan_else_wrap{
 .btn_inline_func{}   
}
.btn_inline_func{font-size:14px; color:#333333; height:38px; line-height:36px; display:inline-block;border:1px solid #4c586c; border-radius: 100px; padding:0 23px;}
.explan_contents{}
.post_tb_wrap{
    &.skin2{
        .post_tb{
            thead{
                tr{
                    th{
                        padding:5px 10px 7px;
                    }
                }
            }
        }
    }
}
.post_tb{
    width:100%; table-layout: fixed;
    &.type2{table-layout: auto;
        thead{
            tr{
                th{
                    padding-left:20px;padding-right:20px;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding-left:20px;padding-right:20px;
                }
            }
        }
    }
    thead{
        tr{
            th{
                background:#4c586c; padding:13px 10px 15px; border-right:1px solid #707989;
                &:first-of-type{border-radius: 8px 0 0 8px;}
                &:last-of-type{border-radius: 0 8px 8px 0; border-right:0;}
                &.no_radius{border-radius:0;}
                &.radius_top{border-radius:0 8px 0 0;}
                &.radius_bottom{border-radius:0 0 8px 0;}
                &[colspan]{border-bottom:1px solid #707989;}
                &.nobreak{white-space: nowrap;width:1px;padding-left:20px;padding-right:20px;}
            }
        }
    }
    tbody{
        tr{
            td{
                border-bottom:1px solid #e7e7e7; padding:18px 10px;
                &.accent{background:#fafcff;}
                &:last-of-type{}
                &.nobreak{white-space: nowrap;width:1px;padding-left:20px;padding-right:20px;}
                &.dleft{text-align: left;}
            }
        }
    }
}
.post_thtext{display:inline-block; font-size:16px; color:#fff; font-weight:350; word-break: keep-all;}
.post_tdtext{display:inline-block; font-size:15px; color:#4e4e4e; font-weight:350; word-break: keep-all;}

.post_note_wrap{margin-top:50px;}
.pn_block{
    &:last-of-type{}
}
.pn_title_row{margin-bottom:35px;}
.pn_title{font-size:18px; position:relative; padding-left:15px;
    &:before{display:block;content:'';width:8px;height:8px;background:#176bdd; border-radius: 100%; position:absolute;top:10px;left:0;}
}
.pn_contents{padding-left:30px;}

.deco_info_container{
    display:flex; gap:40px;
    .img_cols{
        width:110px;height:110px; flex:0 0 110px; border-radius: 100%; background:#f8fcff;
        img{vertical-align: top;}
    }
    .spec_cols{flex:1;min-width:0;}
}

.bullet_node_list{
    line-height:1.6;
    > li{
        margin-bottom:25px; padding-left:10px; position:relative;
        &:before{display:block;content:'';width:3px;height:3px;background:#333;position:absolute;top:12px;left:0; border-radius: 100%;}
    }
}
.main_node_para{font-size:16px; color:#333333;}
.sub_node_para{
    font-size:14px; color:#6d6c6c; margin-top:4px;
    br{}
}
.award_banner_wrap{margin-top:130px;}
.award_banner{
    border-radius: 20px; display:flex; align-items: center; justify-content: center; padding:15px;
    background-image: -moz-linear-gradient( 0deg, rgb(132,103,44) 0%, rgb(83,57,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(132,103,44) 0%, rgb(83,57,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(132,103,44) 0%, rgb(83,57,0) 100%);
    background-image: linear-gradient(90deg, rgb(132,103,44) 0%, rgb(83,57,0) 100%);
    &:before,
    &:after{display:block;content:'';background-position:0 0;background-size:100% auto; background-repeat:no-repeat;width:32px;height:52px; flex-basis: 32px; flex-shrink: 0;}
    &:before{background-image:url("../images/obj_king_left_feather.png");margin-right:15px;}
    &:after{background-image:url("../images/obj_king_right_feather.png");margin-left:15px;}
    .img_king,
    .img_trophy{display:block;background-position:0 0;background-size:100% auto; background-repeat:no-repeat; flex-shrink: 0;}
    .img_king{background-image:url("../images/obj_king_hat.png");width:40px; height:21px; margin-right:10px; flex-basis: 40px;}
    .img_trophy{background-image:url("../images/obj_king_trophy.png");width:50px; height:43px;  flex-basis: 50px; margin-left:10px;}
}
.award_para_wrap{
    color:#fff; display:flex; justify-content: center; align-items: flex-end; gap:5px; text-align: center;
    .text_sub_node,
    .text_main_node{display:inline-block; word-break: keep-all;}
    .text_sub_node{font-size:20px;position:relative; top:-2px;}
    .text_main_node{font-size:24px; font-weight:500;}
}


@media (max-width:1023px){
    .copy_plate_wrap{padding:30px 0;}
    .copy_main_plate{font-size:18px;}
    .copy_sub_plate{font-size:14px;margin-top:10px;
        br{display:none;}
    }

    .involve_diagram_container{
        padding-bottom:35px;
        .linked_diagram_list{padding:35px 0 25px;}
    }
    .quote_word{
        .text_node{font-size:13px; line-height:1.5;}
    }
    .quote_left,
    .quote_right{font-size:30px; top:12px;}
    .accent_bar_wrap{margin-top:15px;}
    .accent_bar{font-size:14px;padding:12px 30px; display:block;}

    
    .feature_block_wrap{padding:40px 0 0 0;}
    .feature_block_list{
        > li{
            padding:0 0 45px 0;margin-bottom:45px;
        }
    }
    .feature_block{
        gap:30px; flex-direction: column; align-items: baseline;
        .img_cols{
            flex:none; margin:0 auto; width:80px; font-size:0;line-height:0;
        }
    }
    .feature_copy_wrap{
        &.gap2{
             .feature_copy{line-height:1.6;}
        }
    }
    .feature_copy{
        font-size:13px; margin-bottom:20px; line-height:1.6;
        br{display:none;}
        &.accent{font-size:14px;}
    }
    .btn_feature_group{margin-top:35px; 
        &.type2{
            max-width:100%;
        }
    }
    .btn_frame{ 
        min-height:40px; height:auto; flex:1; min-width:0; display:flex; width:100%;
        .text_node{font-size:14px;}
    }

    .sv_board_container{
        .bg{top:150px; height:calc(100% - 150px);}
    }

    .gate_block{margin-bottom:35px;}

    .sv_board_title_row{margin-bottom:10px;}
    .sv_board_title{font-size:16px;}

    .board_card_list{
         gap:10px; margin-right:-10px;
        > li{
            flex:0 0 calc(50% - 10px);
            &.nodata_li{flex:0 0 calc(100% - 15px);
                .nodata_para{font-size:14px;}
            }
        }
    }
    .board_card{
       border-radius: 10px; padding:15px;
    }

    .board_indent_wrap{
       margin-bottom:15px;/*  align-items: flex-start; */ gap:8px;
    }
   /*  .board_indent_bullet{} */
    .board_indent_bullet{flex:0 0 25px; width:25px; height:25px; line-height:23px; font-size:14px; /* position:relative; top:3px; */}

    .board_indent_liquid{font-size:14px;}

    .banner_card_container{margin-top:30px;}
    .banner_card_block{
        margin-bottom:30px;
    }
    .bc_box_grid{margin-right:-15px;gap:15px;}
    .bc_box{
        flex:0 0 calc(50% - 15px);padding:15px 20px 15px 30px;
    }
    .bc_main_copy_group{
        gap:20px;
        br{display:none}
        /* .ico{
            background-repeat:no-repeat; background-size:100% auto; background-position: 0 0;
            &.shape_mike{ width:28px; height:39px; flex:0 0 28px;}
            &.shape_docu{ width:32px; height:38px; flex:0 0 32px;}
        } */
    }
    .bc_copy_group{}
    .bc_main_copy{font-size:14px;}
    .bc_sub_copy{font-size:12px;}

    .voucher_box_grid{gap:15px;margin-right:-15px;
        .fixed_cols,
        .liquid_cols{flex-basis: calc(50% - 15px);}
    }

    .sv_note_copy_wrap{margin-top:20px;}
    .sv_note_copy{font-size:16px;}
    .explan_wrap{margin-top:30px;}
    .explan_block{margin-bottom:50px;}
    .explan_title{font-size:16px;}
    .explan_title_row{align-items: flex-end;}
    .btn_inline_func{padding:0 15px; height:30px; line-height:29px; font-size:12px;}

    .post_tb{
        &.type2{
            thead{
                tr{
                    th{
                        padding-left:10px;padding-right:10px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding-left:10px;padding-right:10px;
                    }
                }
            }
        }
         thead{
             tr{
                th{padding:10px 5px 12px;}
             }
         }
         tbody{
             tr{
                td{padding:10px 5px 12px;}
             }
         }
    }
    .post_tdtext,
    .post_thtext{font-size:14px;}
    .pn_title_row{margin-bottom:20px;}
    .pn_title{font-size:16px;padding-left:12px;
        &:before{width:5px;height:5px;top:10px}
    }
    .pn_contents{padding-left:12px;}
    .deco_info_container{gap:20px;
        .img_cols{width:60px;height:60px; flex-basis: 60px;}
    }
    .main_node_para{font-size:14px;
        &:before{top:11px;}
    }
    .sub_node_para{font-size:12px;}

    .bullet_node_list{
         > li{
            margin-bottom:15px;
            &:last-of-type{margin-bottom:0;}
         }
    }

    .award_banner_wrap{margin-top:70px;}
    .award_banner{
        border-radius: 10px;
        /* &:before,
        &:after{width:21px;height:35px;}
        &:before{margin-right:10px;}
        &:after{margin-left:10px;}
        .img_king{width:27px; height:14px; margin-right:7px;}
        .img_trophy{width:33px; height:29px; margin-left:7px;} */
    }
    .award_para_wrap{
        .text_sub_node{font-size:16px;}
        .text_main_node{font-size:20px;}
    }
}

@media (max-width:767px){
    .btn_feature_group{flex-direction: column;
        
    }
    .sv_board_container{
        .bg{top:100px; height:calc(100% - 100px);}
    }

    .board_card_list{margin-right:0;flex-direction: column;}

    .bc_box_grid{flex-direction: column; margin-right: 0;}
    .bc_main_copy_group{
        gap:20px;
        .ico{
            &.shape_mike{width:18.7px; height:26px; flex:0 0 18.7px;}
            &.shape_docu{width:21px; height:25px; flex:0 0 21px;}
        }
    }
    .bc_box{
      padding-left:20px; gap:10px; padding-right:15px;
      .btn_cols{flex-basis: 60px;}
    }
    .btn_shape_box{
        width:60px; height:60px;
        .text_node{font-size:12px; position:relative; top:2px;}
    }
    .bc_main_copy_group{gap:15px;}

    .voucher_box_grid{flex-direction: column; margin-right:0;}
    .voucher_board_box{padding:0 20px;
        .contents_row{padding:20px 0;}
    }

    .vb_title{
        gap:10px;
        .ico{
            width:16px; height:23px;
        }
        .text_node{font-size:16px;}
    }
    .lk_else,
    .lk_title{font-size:14px;}
    .linkage_data_list{
         > li{margin-bottom:10px;}
    }
    .look_box{padding:20px 15px;}
    .look_title_row{}
    .look_title{font-size:15px;}
    .look_contents{gap:10px;
        *{word-break: keep-all;}
        br{ display:none;}
    }
    .lc_copy_group{}
    .lc_main_copy{font-size:14px;}
    .lc_sub_copy{font-size:12px;}

    .lc_ico_group{
        top:0;padding:0;
        .ico{
            width:23px; height:26px; flex:0 0 23px;
        }
    }

    
    .sv_note_copy{font-size:14px;}

    .award_para_wrap{
        flex-direction: column; align-items: normal; gap:0;
    }
    .award_banner_wrap{margin-top:70px;}
    .award_banner{
        border-radius: 10px;

       &:before,
        &:after{width:21px;height:35px; flex-basis:21px; margin-right:7px; margin-left:7px;}
        &:before{margin-right:10px;}
        &:after{margin-left:10px;}
        .img_king{width:27px; height:14px; margin-right:10px; flex-basis:27px;}
        .img_trophy{width:33px; height:29px; flex-basis:33px; margin-left:10px;}
    }
    .award_para_wrap{
        .text_sub_node{font-size:13px;}
        .text_main_node{font-size:17px;}
    }
    .post_tdtext,
    .post_thtext{font-size:12px;}
    .post_tb{
        &.type2{

        }
        thead{
            tr{
                th{
                    &.nobreak{white-space: normal;width:auto;}
                }
            }
        }
        tbody{
            tr{
                td{
                    &.nobreak{white-space: normal;width:auto;}
                }
            }
        }
    }
}

@media (max-width:374px){
    /* .award_banner{
        border-radius: 10px;

       &:before,
        &:after{width:21px;height:35px; flex-basis:21px; margin-right:7px; margin-left:7px;}
        &:before{margin-right:10px;}
        &:after{margin-left:10px;}
        .img_king{width:27px; height:14px; margin-right:10px; flex-basis:27px;}
        .img_trophy{width:33px; height:29px; flex-basis:33px; margin-left:10px;}
    }
    .award_para_wrap{
        .text_sub_node{font-size:13px;}
        .text_main_node{font-size:17px;}
    } */
    .award_banner{
        border-radius:2.67vw;

        &:before,
        &:after{width:5.61vw;height:9.36vw; flex-basis:5.61vw; margin-right:1.87vw; margin-left:1.87vw;}
        &:before{margin-right:2.67vw;}
        &:after{margin-left:2.67vw;}
        .img_king{width:7.22vw; height:3.74vw; margin-right:2.67vw; flex-basis:7.22vw;}
        .img_trophy{width:8.82vw; height:7.75vw; flex-basis:8.82vw; margin-left:2.67vw;}
    }

    .award_para_wrap{
        .text_sub_node{font-size:3.48vw;}
        .text_main_node{font-size:4.55vw;}
    }
    
    .post_tdtext,
    .post_thtext{font-size:11px; word-break: break-all;}
}