/* detail */
.middle_wrap{
    &.detail_wrap{padding:42px 30px 84px; box-sizing:content-box; max-width:1200px; margin:0 auto;}
}

.detail_top_section{}
.detail_top_template{
    display:flex; gap:40px;
    .img_cols{flex:0 0 500px;width:500px;}
    .info_cols{flex:1;min-width:0;}
    .spec_flag_row{
        display:flex; gap:20px; justify-content: space-between; align-items: center;
        .flag_cols{}
        .util_cols{
        }
    }
    .spec_main_row{
        display:flex; gap:30px; justify-content: space-between; align-items: flex-start; margin-top:12px;
        .title_name_cols{}
        .title_else_cols{
            padding-top:18px;
            .star_eval_text{}
        }
    }
    .spec_keyword_row{margin-top:25px;}
    .spec_summary_row{}
    .spec_price_row{
        text-align: right; display:flex; justify-content: flex-end; margin-top:26px;
    }
}
.dflag_box_list{
    display:flex; flex-wrap:wrap; gap:5px;
    > li{
        @include font(12px,350,1,#2b8bf2); height:20px; line-height:20px; white-space: nowrap; padding:0 8px; background:#eff5fc; border-radius:3px;
    }
}
.dflag_box{}
.dtop_util_group{display:flex;gap:14px; align-items: center}
.dtop_util_para{@include font(13px,350,1.3,#999);}
.box_action_btn_list{
    display:flex; flex-wrap:wrap; gap:5px;
    > li{}
}
.box_action_btn{
    border:1px solid #dcdcdc; border-radius:3px; height:27px; display:flex; width:34px; align-items: center; justify-content: center;
    &:after{background-repeat:no-repeat; background-position:0 0; background-size:100% auto; display:block; content:''; opacity:.5;}
    
    &.like{
        &:after{background-image:url("../images/ico_like_18x16.png"); width:18px;height:16px;}
        &.active{
            &:after{background-position:0 100%;}
        }
    }
    &.print{
        &:after{background-image:url("../images/ico_print_15.png"); width:15px;height:15px;}
    }
    &.share{
        &:after{background-image:url("../images/ico_share_16x16.png"); width:16px;height:16px;}
    }
}
.keyword_tag_wrap{}
.keyword_tagbox_list{
    display:flex; flex-wrap:wrap; gap:5px;
    > li{}
    .tagbox{
        background:#eff5fc; border-radius:100px; padding:2px 15px 3px;  @include font(14px,400,1,#2b8bf2);
        .text_node{@include font(14px,400,1,#5f5f5f);}
    }
}
.keyword_subtag_wrap{margin-top:17px;}
.keyword_subtag_list{
    display:flex; flex-wrap:wrap; gap:5px;
    > li{}
    .subtagbox{
        border:1px solid #dcdcdc; border-radius:3px; padding:8px 18px; @include font(14px,350,1.3,#5f5f5f); display:inline-block;
    }
}
.detail_top_swiper_zone{
    border-radius:10px; position:relative; overflow:hidden;
    .swiper-pagination.fraction_count_layer{color:#fff; line-height:1; font-size:10px; position:absolute;bottom:10px;right:10px;width:auto;left:auto; background:rgba(0,0,0,.5); padding:3px 12px 4px; border-radius:100px;
        .swiper-pagination-current,
        .swiper-pagination-total{color:#fff; font-size:13px;line-height:1; }
        .fraction-separator{display:inline-block;position:relative;top:-1px;}
    }
}
.swiper-container{
    &.detail_top_img_swiper{
        .swiper-wrapper{
            .swiper-slide{
                img{vertical-align: top;}
            }
        }
    }
}
.btn_detail_control{
    width:42px;height:42px; display:block; z-index:2; position:absolute;top:50%;transform:translateY(-50%);
    &:after{display:block;content:'';width:13px;height:13px; border-right:1px solid #fff; border-top:1px solid #fff; position:absolute;top:14px;left:18px;}
    &.prev{left:0;
        &:after{transform: rotate(225deg);}
    }
    &.next{right:0;
        &:after{transform: rotate(45deg);left:12px;}
    }
}
.product_title_name{@include font(30px,500,1.3,#000);}
.product_title_sub_copy{@include font(14px,400,1.4,#999); margin-top:10px;}
.star_eval_text{
    display:inline-flex;gap:3px; align-items: center; 
    .ico{width:12px;height:12px;background:url("../images/ico_star_12.png") no-repeat 0 0/100% auto;}
    .text_node{@include font(15px,400,1.3,#000); white-space: nowrap;}
}

.summary_obj_list{
    background:#f9f9f9; border-radius:5px; display:flex; margin-top:17px; padding:10px; gap:12px;
    dt,dd{}
    dt{}
    dd{}
}
.summary_keybox{background:#2b8bf2; white-space: nowrap; border-radius:5px; @include font(13px,350,1,#fff); padding:3px 10px;}
.summary_valuetext_list{
     display:flex; flex-wrap:wrap; gap:5px 14px; position:relative;top:-1px;
    > li{
        position:relative;padding-left:8px;
        &:before{display:block;content:'';width:2px;height:2px;background:#5f5f5f; position:absolute;top:9px;left:0;}
    }
    .guide_valuetext{
        @include font(14px,350,1.3,#5f5f5f);
        &.dark{color:#000;}
    }
}
.spec_price_item{
    .price_caption{@include font(13px,350,1.4,#b5b5b5);}
    .price_caption2{
        @include font(14px,350,1.4,#2b8bf2);
        .ico_point{position:relative;top:1px;}
    }
    .price_dom{gap:2px;}
    .price_number{font-size:29px; font-weight:700;}
    .price_unit{font-size:16px; color:#000000;padding-top:7px; font-weight:350;}
}
.ico_point{display:inline-block;width:14px;height:14px;background:#2b8bf2 url("../images/ico_pointer_14.png") no-repeat 0 0/100% auto; border-radius:100%;}
.price_before_after_group{display:flex; gap:5px; align-items: center;}
.price_before{@include font(16px,300,1,#6d6c6c); text-decoration: line-through; padding-top:12px;}

.detail_topinfo_row{
    margin-top:30px; display:flex; gap:40px; align-items: center;
    .who_info_cols{flex:0 0 500px;}
    .note_info_cols{
        flex:1;
        .note_para_list{}
    }
 }
 .who_staff_item{
    display:flex; gap:20px; align-items: center;
    .profile_cols{flex:1;}
    .else_cols{
        flex:0; white-space: nowrap;
        .btn_quad_card{}
    }
 }
 .btn_quad_card{display:inline-flex; @include font(14px,350,1,#5f5f5f);  min-width:90px; border:1px solid #dcdcdc; border-radius:5px; padding:10px; box-sizing: border-box; text-align: center; justify-content: center;}
 .profile_hor_item{
    display:flex; gap:10px; align-items: center;
    .img_cols{
        flex:0 0 60px;
        .thumnail{
            display:block; width:60px; height:60px; position:relative; overflow: hidden; border-radius:100%;
            > img{@include bgicon;}
        }
    }
    .spec_cols{}
 }
 .profile_name_para{@include font(15px,350,1.3,#4e4e4e);}
 .profile_summary_item_list{
    display:flex; gap:5px 17px; flex-wrap:wrap; margin-top:3px;
    > li{}
 }
 .profile_summary_item{@include font(14px,350,1.3,#999999);}
 .note_para_list{
    > li{
        position:relative; padding-left:8px; @include font(13px,400,1.3,#999999); margin-bottom:5px;
        &:last-of-type{margin-bottom:0;}
        &:before{display:block;content:'';width:2px;height:2px;background:#999999; position:absolute;top:8px;left:0;}
    }
 }

 .tape_block_container{}
 .tape_block{
    margin-bottom:40px;padding-bottom:40px;border-bottom:1px solid #e7e7e7;
    &:last-of-type{margin-bottom:20px;}
 }
 .tape_title_row{display:flex; justify-content: space-between;align-items: center;padding:0 10px; margin-bottom:20px; gap:20px;}
 .tape_title{@include font(20px,500,1,#2b2b2b);}
 .tape_title_else{}
 .btn_funcbox{display:inline-block;background:#455267; border-radius:5px; padding:8px 18px; @include font(12px,350,1,#fff);}
 .tape_contents{margin-left:20px;}
 .keyword_indent_block_list{
    > li{
        display:flex; gap:15px; margin-bottom:30px;
        &:last-of-type{margin-bottom:0;}
    }
 }
 .keyword_indent_bullet{flex:0; white-space: nowrap; @include font(16px,500,1,#2b2b2b);}
 .keyword_indent_liquid{}
 .word_inflex_list{
    display:flex; gap:15px; align-items: center; line-height:0; position:relative; top:-2px;
    > li{

    }
    .company_text_item{
        align-items: center;
        .company_text_spec{}
    }
 }
 .word_text_obj{@include font(14px,500,1,#333333);}
 .airplane_mapline_list{
    margin-top:15px;
    > li{
         display:flex; 
        &:last-of-type{}
    }
 }
 .airplane_flex_container{
    display:flex; 
    .text_cols{}
    .icon_cols{
        padding:0 8px;
        .ico{width:20px;height:20px; background:url("../images/ico_map_airplane.png") no-repeat 0 0/100% auto;}
    }
 }
 .wordslice_list{
    display:flex; gap:10px;
    > li{
        margin-bottom:8px;
        &:last-of-type{margin-bottom:0;}
    }
 }
 .wordslice{
    @include font(14px,350,1,#5f5f5f);
    &.emp{color:#000; font-weight:400;}
 }
 .wordslice_obj{
    display:flex; align-items: center; gap:10px; line-height:0; position:relative;top:-2.5px;
    dt,dd{}
    dt{}
    dd{}
 }
 .wordslice_key{@include font(14px,350,1,#5f5f5f);}
 .mapline_guide_text{@include font(14px,350,1,#5f5f5f);padding-top:1px;}
 .info_note_para_list{
    > li{
        margin-bottom:12px; position:relative;padding-left:8px;
        &:before{
            display:block;content:'';width:2px;height:2px;background:#4e4e4e; position:absolute;top:9px;left:0;
        }
        &:last-of-type{margin-bottom:0;}
    }
    .info_note_emp,
    .info_note_normal{@include font(14px,400,1.3,#4e4e4e);}
    .info_note_emp{}
    .info_note_normal{font-weight:350;margin-top:5px;}
}
.guidebox_banner_wrap{}
.guidebox_banner_list{
    display:flex; gap:10px;
    > li{flex:1;}
}
.guidebox_gobanner{
    display:flex; gap:1px; border:1px solid #dcdcdc; padding:13px 25px; align-items: flex-start; background:#f8f8f8; flex-direction: column; justify-content: center; box-sizing: border-box; min-height:100%;  border-radius:10px;
}
.gobanner_main_row{}
.gobanner_main_para{@include font(16px,400,1.3,#333333);}
.gobanner_sub_row{}
.gobanner_viewer{
    display:inline-block;padding-right:12px;position:relative; @include font(14px,300,1.3,#5f5f5f);
    &:after{display:block;content:'';width:7px;height:7px;border-left:1px solid #5f5f5f; border-top:1px solid #5f5f5f; position:absolute;top:5px;right:3px;transform: rotate(135deg);}
}
.guidebox_banner{
    display:flex; gap:12px; position:relative;  box-sizing: border-box; min-height:100%; border:1px solid #dcdcdc; padding:10px 55px 10px 20px;  align-items: center; border-radius:10px;
    .ico{
        width:30px; height:30px; flex:0 0 30px; @include bgicon;
        &.ico_docu{background-image:url("../images/ico_banner_img_30x30_01.png");}
        &.ico_word{background-image:url("../images/ico_banner_img_30x30_02.png");}
        &.ico_ready{background-image:url("../images/ico_banner_img_30x30_03.png");}
    }
    .text_node{@include font(16px,400,1,#333333);}
    &:after{display:block;content:'';width:7px;height:7px;border-left:1px solid #5f5f5f; border-top:1px solid #5f5f5f; position:absolute;top:50%; margin-top:-4px; right:27px;transform: rotate(135deg);}
}
.infocard_banner_wrap{
    margin-top:30px;
}
.infocard_banner_list{
    display:flex; gap:10px;
    > li{flex:1;}
}
.infocard_banner{
    display:flex; gap:15px; align-items: center; background:#f0f5f9; border-radius:10px; padding:10px 20px; box-sizing: border-box; min-height:74px;
    .ico{
        flex:0 0 47px; width:47px;height:47px; @include bgicon; display:block;
        &.info_01{background-image:url("../images/ico_banner_img2_47_01.png");}
        &.info_02{background-image:url("../images/ico_banner_img2_47_02.png");}
        &.info_03{background-image:url("../images/ico_banner_img2_47_03.png");}
        &.info_04{background-image:url("../images/ico_banner_img2_47_04.png");}
    }
    .text_node{@include font(17px,400,1,#333333);}
}

@media (max-width:$mobile_large){
    .middle_wrap{
        &.detail_wrap{padding:20px 20px 84px; box-sizing: border-box;}
    }
    .detail_top_template{
        gap:20px; flex-direction: column;
        .img_cols{flex:0;width:auto;}
        .info_cols{flex:0;}
        .spec_flag_row{
            align-items: flex-end;
            .flag_cols{}
            .util_cols{}
        }
        .spec_main_row{
             gap:0; margin-top:12px; flex-direction: column;
            .title_name_cols{flex:0;}
            .title_else_cols{
                padding-top:8px;flex:1; text-align: right; justify-content: flex-end; width:100%;
                .star_eval_text{}
            }
        }
        .spec_keyword_row{margin-top:15px;}
        .spec_summary_row{}
        .spec_price_row{
            margin-top:13px;
        }
    }
    .dtop_util_para{display:none;}
    .dtop_util_group{
        flex-direction: column; gap:5px; align-items: flex-end;
        > *{flex:0;}
    }
    .box_action_btn_list{justify-content: flex-end;}
    .keyword_tag_wrap{}
    .keyword_tagbox_list{
        display:flex; flex-wrap:wrap; gap:5px;
        > li{}
        .tagbox{
             padding:2px 10px 3px;
            .text_node{font-size:12px;}
        }
    }
    .keyword_subtag_wrap{margin-top:10px;}
    .keyword_subtag_list{
        > li{}
        .subtagbox{
            padding:5px 10px; font-size:12px;
        }
    }
    .detail_top_swiper_zone{
        border-radius:7px;
    }
    .swiper-container{
        &.detail_top_img_swiper{
            .swiper-wrapper{
                .swiper-slide{
                    img{width:100%;}
                }
            }
        }
    }
    .product_title_name{font-size:20px;}
    .product_title_sub_copy{font-size:13px; margin-top:10px;}
    .star_eval_text{
        display:inline-flex;gap:3px; align-items: center; 
        .ico{width:12px;height:12px;background:url("../images/ico_star_12.png") no-repeat 0 0/100% auto;}
        .text_node{@include font(15px,400,1.3,#000); white-space: nowrap;}
    }

    .summary_obj_list{
        background:#f9f9f9; border-radius:5px; display:flex; margin-top:17px; padding:10px; gap:12px;
        dt,dd{}
        dt{}
        dd{}
    }
    .summary_keybox{font-size:12px; padding:3px 7px;}
    .summary_valuetext_list{
        top:0;
        > li{
            position:relative;padding-left:8px;
            &:before{top:7px;}
        }
        .guide_valuetext{
            font-size:12px;
        }
    }
    .spec_price_item{
        .price_caption{font-size:12px;}
        .price_caption2{
            font-size:12px;
            .ico_point{top:2px;}
        }
        .price_dom{gap:2px;}
        .price_number{font-size:24px;}
        .price_unit{font-size:14px;padding-top:5px;}
    }
    .price_before{font-size:14px; padding-top:7px;}

    .detail_topinfo_row{
        margin-top:20px; gap:20px; flex-direction: column;
        .who_info_cols{flex:0; width:100%;}
        .note_info_cols{
            flex:0; width:100%;
            .note_para_list{}
        }
    }
    .who_staff_item{
         gap:15px;
    }
    .btn_quad_card{font-size:13px;  min-width:70px;border-radius:3px; }
    .profile_hor_item{
        display:flex; gap:10px; align-items: center;
        .img_cols{
            flex:0 0 45px;
            .thumnail{
               width:45px; height:45px;
            }
        }
        .spec_cols{}
    }
    .profile_name_para{font-size:13px;}
    .profile_summary_item_list{
        gap:2px 10px;
        > li{}
    }
    .profile_summary_item{font-size:11px;}
    .note_para_list{
        > li{
            position:relative; padding-left:8px; font-size:12px; margin-bottom:5px;
            &:before{top:7px;}
        }
    }    
}