.product_slice_data_wrap + .tile_form_wrap{margin-top:60px;}
.tile_form_wrap{}
.tile_form_list{
    border-bottom:1px solid #e7e7e7;
     > li{
        border-top:1px solid #e7e7e7; padding:40px 30px;
        &:last-of-type{}
     }
     
    .btn_vertex_wrap{
        margin-top:30px;
    }
}
.tile_form_item{
    .label_row{
        margin-bottom:20px; display:flex; justify-content: space-between; gap:20px; align-items: center;
        .label_else_cols{
            .btn_rego_list{}
        }
    }
    .form_row{}
    .btn_square_wrap{}
}
.cb_current_notice{@include font(16px,400,1.3,#2b2b2b);
    &.warn{color:#f84242;}
}
.label_form_notice{@include font(14px,400,1.3,#2b2b2b);}
.tile_form_label{@include font(21px,500,1.3,#2b2b2b);}
.form_contblock_list{
    > li{
        margin-bottom:35px;
        &:last-of-type{margin-bottom:0;}
    }
}
.formdom_linked_wrap{}
.formdom_linked_list{
    display:flex; gap:10px 15px; flex-wrap:wrap; margin:0 -15px 0 0;
    > li{flex:0 0 calc(33.333333333% - 15px);}
}
input.form_input{
    height:50px; flex:1; width:100%; line-height:1; appearance: none; border:1px solid #ccc; border-radius:5px; @include font(15px,400,1,#2b2b2b); padding:0 20px; box-sizing: border-box;
    &.ptype2{padding:0 10px;}
    &.align_center{text-align: center;}
    &:disabled{}
    &::placeholder{color:#ccc;}
}
.form_count_box{
    border:1px solid #ccc; border-radius:5px; display:flex; justify-content: center; align-items: center; min-height:50px; box-sizing: border-box; font-size:0;line-height:0;
    .btn_inde_control{vertical-align: middle}
}
.count_fraction_node{@include font(16px,400,1,#2b2b2b); padding:0 15px;}
.contblock_title_row{
    display:flex; justify-content: space-between; gap:20px; align-items: center; margin-bottom:18px;
    .cb_cols{}
}
.cb_title{@include font(17px,500,1,#2b2b2b);}
.cb_formcopy{@include font(13px,400,1.3,#6d6c6c);}
.form_stack_box{

}
.inline_ring_wrap{}
.inline_ring_list{ 
    display:flex; align-items: center; gap:5px;
    > li{
        flex:1;
        &.short{
            .box_props_group{}
        }
    }
}
.stack_current_node{}


.count_number{font-size:18px;}

.box_props_group{
    display:flex; gap:5px; height:50px; max-width:125px;
}
.box_props_cols{
    flex:1; position:relative; display:flex; align-items: center; justify-content: center;
}
input.box_props_form{
    height:48px; appearance: none;width:100%;opacity:0;
    &:checked + .box_props_label{background:#455267; border-color:#455267; color:#fff;}
}
.box_props_label{
    border:1px solid #ccc; cursor: pointer; border-radius:5px; display:block; min-height:100%; position:absolute;top:0;left:0;width:100%;display:flex; justify-content: center; align-items: center; @include font(16px,400,1,#4e4e4e);
}
.box_textarea_wrap{
    font-size:0;line-height:0;
}
.textarea_dom{
    height:80px;border:1px solid #ccc; border-radius:5px; display:block; @include font(15px,400,1,#2b2b2b); width:100%; padding:15px 20px; box-sizing: border-box; resize: none;
}
.long_ph{
    &::placeholder{color:#b5b5b5;}
}
.long_place_replace{@include font(15px,400,1.5,#b5b5b5); margin-top:10px;display:none;}

.agree_container{
    margin:0 0 0 10px;
    .total_row{
        font-size:0;line-height:0; margin-bottom:24px;
        .props_item{}
    }
    .detail_row{}
}
.agree_detail_list{
    > li{
        margin-bottom:12px;
        &:last-of-type{margin-bottom:0;}
    }
}
.agree_dp_item{
    display:flex; gap:15px;
}
.dp_inline_dom{
    .props_item{}   
}
.btn_text_node{display:inline-block; @include font(16px,400,1,#4e4e4e); border-bottom:1px solid #e7e7e7;padding-bottom:4px; position:relative;top:2px;}

.sheetbox_wrap{margin-top:50px;
    &.mtype2{margin-top:0;}
}
.sheetbox_item{
    border:1px solid #dcdcdc; border-radius:8px;
    .title_row{border-bottom:1px solid #dcdcdc; background:#fbfbfb; padding:20px 30px;}
    .contents_row{
         padding:25px 30px;
        .bullet_note_list{
            margin-bottom:22px;
            &:last-of-type{margin-bottom:0;}
        }
    }
}
.sheetbox_title{@include font(16px,400,1,#333333);}


.revision_spec_wrap{}
.revision_total_row{}
.revision_total_item{
    display:flex; justify-content: space-between; align-items: center; gap:20px; padding:15px 20px;
    .key_cols{}
    .value_cols{}
    .revision_price_dom{
        .value_number{}
        .value_unit{}
    }
}
.revision_keyword{@include font(19px,500,1,#2b2b2b); display:inline-block;}
.revision_price_dom{
    display:inline-flex; white-space: nowrap; align-items: center;
    .value_number{@include font(20px,500,1,#333);}
    .value_unit{@include font(16px,400,1,#333);}
}
.revision_detail_item{
    .key_cols{}
    .value_cols{}
}
.revision_keytext{}
.revision_value_node{}

.revision_btn_row{padding:0 20px;}
.btn_folding_box{
    display:flex; border:1px solid #e4e4e4; border-radius:5px; text-align: center; justify-content: center; align-items: center; padding:10px; background:#fafafa;
    .text_node{@include font(14px,400,1,#4e4e4e); display:inline-block;}
    .ico{
        &:before{}
    }
    &.active{
        .ico{
            &:before{}
        }
    }
}
.revision_detail_row{border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7;}
.revision_detail_list{
    padding:15px 20px;
    > li{
        margin-bottom:20px;
        &:last-of-type{margin-bottom:0;}
    }
}
.revision_detail_item{
    display:flex; justify-content: space-between; align-items: center;
    .key_cols{

    }
    .value_cols{}
}
.revision_keytext{display:inline-block; @include font(16px,400,1,#2b2b2b);}
.revision_tfoot_row{
   .revision_price_dom{
        .value_number{}
        .value_unit{}
    }
}
.revision_tfoot_item{
    .key_cols{}
    .value_cols{}
}
.revision_tfoot_keytext{ }
.revision_value_node{ @include font(16px,400,1,#333);}

.note_messge_wrap{
    display:flex; gap:25px; align-items: center;
    .ico{display:block;width:24px;height:24px; @include bgicon; background-image:url("../images/ico_import_24.png"); border-radius:100%; border:2px solid #767676;}
}
.note_message_group{
    @include font(14px,400,1.6,#4e4e4e);
    > li{
        &:last-of-type{}
    }
}



.box_stack_wrap{margin-bottom:65px;}
.box_stack_list{
    display:flex; gap:15px;
    > li{ flex:0 0 calc(25% - 15px);}
}
.box_stack_item{
    display:flex; border:1px solid #ccc; border-radius:5px; justify-content: center; align-items: center; gap:8px; padding:15px; min-height:50px; box-sizing: border-box;
    .stack_key{@include font(16px,400,1,#4e4e4e);}
    .stack_value{@include font(16px,500,1,#006de1);}
}
.stack_message_row{

}
.stack_message_para{
    .highlight{}
}


.note_card_box{}
.note_card_title{}
.note_card_cont{
    .indent_node_list{}
}

.tile_sub_block_wrap{}
.tile_sub_block{
    &:last-of-type{}
}
.tile_sub_title_row{}
.tile_sub_title{}
.tile_sub_else_wrap{
    .btn_rego_list{}
}
.tile_sub_contents{}

.field_grid_wrap{}
.field_grid_list{
    > li{}
}
.field_grid_slice{
    .key_cols{}
    .value_cols{}
}
.grid_keyword{}
.amount_price_dom{
    .value_number{}
    .value_unit{}
}
.amount_input_cols{}
input.amount_input{}