.product_slice_data_wrap + .tile_form_wrap{margin-top:60px;}
.tile_form_wrap{}
.tile_form_list{
    /* border-bottom:1px solid #e7e7e7; */
    &.has_line{border-bottom:1px solid #e7e7e7;}
    &.type2{border-bottom:0;
        > li {
            &:last-of-type{padding-bottom:0;}
        }
    }
     > li{
        border-top:1px solid #e7e7e7; padding:40px 30px;
        &:last-of-type{}
     }
     
    .btn_vertex_wrap{
        margin-top:30px;
    }
}
.tile_form_item{
    .label_row{
        margin-bottom:20px; display:flex; justify-content: space-between; gap:20px; align-items: center;
        .label_else_cols{
            .btn_rego_list{}
        }
    }
    .form_row{}
    .btn_square_wrap{}
}
.cb_current_notice{@include font(16px,400,1.3,#2b2b2b);
    &.warn{color:#f84242;}
}
.label_form_notice{@include font(14px,400,1.3,#2b2b2b);}
.tile_form_label{@include font(21px,500,1.3,#2b2b2b);}
.form_contblock_list{
    > li{
        margin-bottom:35px;
        &:last-of-type{margin-bottom:0;}
    }
}
.formdom_linked_wrap{}
.formdom_linked_list{
    display:flex; gap:10px 15px; flex-wrap:wrap; margin:0 -15px 0 0;
    > li{flex:0 0 calc(33.333333333% - 15px);}
}
input.form_input{
    height:50px; flex:1; width:100%; line-height:1; appearance: none; border:1px solid #ccc; border-radius:5px; @include font(15px,400,1,#2b2b2b); padding:0 20px; box-sizing: border-box;
    &.ptype2{padding:0 10px;}
    &.align_center{text-align: center;}
    &:disabled{background:#FAFAFA;}
    &::placeholder{color:#b5b5b5;}
}
.form_count_box{
    border:1px solid #ccc; border-radius:5px; display:flex; justify-content: center; align-items: center; min-height:50px; box-sizing: border-box; font-size:0;line-height:0;
    .btn_inde_control{vertical-align: middle}
}
.count_fraction_node{@include font(16px,400,1,#2b2b2b); padding:0 15px;}
.contblock_title_row{
    display:flex; justify-content: space-between; gap:20px; align-items: center; margin-bottom:18px;
    .cb_cols{}
}
.cb_title{@include font(17px,500,1,#2b2b2b);}
.cb_formcopy{@include font(13px,400,1.3,#6d6c6c);}
.form_stack_box{
border:1px solid #ccc; border-radius:5px; display:flex; justify-content: center; align-items: center; min-height:50px; box-sizing: border-box;
}
.inline_ring_wrap{}
.inline_ring_list{ 
    display:flex; align-items: center; gap:5px;
    > li{
        flex:1;
        &.short{
            .box_props_group{}
        }
    }
}
.stack_current_node{@include font(16px,400,1,#2b2b2b);
    .emp{font-size:18px;}
}


.count_number{font-size:18px;}

.box_props_group{
    display:flex; gap:5px; height:50px; max-width:125px; box-sizing: border-box;
}
.box_props_cols{
    flex:1; position:relative; display:flex; align-items: center; justify-content: center;
}
input.box_props_form{
    height:48px; appearance: none;width:100%;opacity:0;
    &:checked + .box_props_label{background:#455267; border-color:#455267; color:#fff;}
}
.box_props_label{
    border:1px solid #ccc; cursor: pointer; border-radius:5px; display:block; min-height:100%; position:absolute;top:0;left:0;width:100%;display:flex; justify-content: center; align-items: center; box-sizing:border-box; @include font(16px,400,1,#4e4e4e);
}
.box_textarea_wrap{
    font-size:0;line-height:0;
}
.textarea_dom{
    height:80px;border:1px solid #ccc; border-radius:5px; display:block; @include font(15px,400,1.3,#2b2b2b); width:100%; padding:15px 20px; box-sizing: border-box; resize: none;
}
.long_ph{
    &::placeholder{color:#b5b5b5;}
}
.long_place_replace{@include font(15px,400,1.5,#b5b5b5); margin-top:10px;display:none;}

.agree_container{
    margin:0 0 0 10px;
    .total_row{
        font-size:0;line-height:0; margin-bottom:24px;
        .props_item{}
    }
    .detail_row{}
}
.agree_detail_list{
    > li{
        margin-bottom:12px;
        &:last-of-type{margin-bottom:0;}
    }
}
.agree_dp_item{
    display:flex; gap:15px;
}
.dp_inline_dom{
    .props_item{}   
}
.btn_text_node{display:inline-block; @include font(16px,400,1,#4e4e4e); border-bottom:1px solid #e7e7e7;padding-bottom:4px; position:relative;top:2px;}

.sheetbox_wrap{margin-top:50px;
    &.mtype2{margin-top:0;}
}
.sheetbox_item{
    border:1px solid #dcdcdc; border-radius:8px; position:relative; overflow:hidden;
    .title_row{border-bottom:1px solid #dcdcdc; background:#fbfbfb; padding:20px 30px;}
    .contents_row{
         padding:25px 30px;
        .bullet_note_list{
            margin-bottom:22px;
            &:last-of-type{margin-bottom:0;}
        }
    }
}
.sheetbox_title{@include font(16px,400,1,#333333);}


.revision_spec_wrap{}
.revision_total_row{}
.revision_total_item{
    display:flex; justify-content: space-between; align-items: center; gap:20px; padding:15px 20px;
    .key_cols{}
    .value_cols{}
    .revision_price_dom{
        .value_number{}
        .value_unit{}
    }
}
.revision_keyword{@include font(19px,500,1,#2b2b2b); display:inline-block;}
.revision_price_dom{
    display:inline-flex; white-space: nowrap; align-items: center;
    .value_number{@include font(20px,500,1,#333);}
    .value_unit{@include font(16px,400,1,#333);}
    
    &.sm_type2{
        .value_number{font-size:18px;}
    }
}
.revision_detail_item{
    .key_cols{}
    .value_cols{}
}
.revision_keytext{}
.revision_value_node{}

.revision_btn_row{padding:0 20px;
    & + .revision_detail_row{margin-top:15px;}
}
.btn_folding_box{
    display:flex; border:1px solid #e4e4e4; border-radius:5px; text-align: center; justify-content: center; align-items: center; padding:10px; background:#fafafa; gap:8px;
    .text_node{@include font(14px,400,1,#4e4e4e); display:inline-block;}
    .ico{
        width:14px;height:14px;flex:0 0 14px; position:relative;
        &:before{display:block;content:'';width:8px;height:8px; border-bottom:1px solid #5f5f5f; border-left:1px solid #5f5f5f; transform: rotate(-45deg); position:absolute;top:0;left:3px;}
    }
    &.active{
        .ico{
            &:before{transform: rotate(-225deg); top:6px;}
        }
    }
}
.revision_detail_row{border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7;
    &.type2{
        border-bottom:0;
    }
    &.type3{
        border-bottom:0; border-top:0;
        .revision_detail_list{padding:10px 20px;
            > li{
                margin-bottom:12px;
            }
        }
    }
}
.revision_detail_list{
    padding:15px 20px;
    > li{
        margin-bottom:20px;
        &:last-of-type{margin-bottom:0;}
    }
}
.revision_detail_item{
    display:flex; justify-content: space-between; align-items: center;
    .key_cols{

    }
    .value_cols{}
}
.revision_keytext{display:inline-block; @include font(16px,400,1,#2b2b2b);}
.revision_tfoot_row{
    margin-top:15px;
   .revision_price_dom{
        .value_number{}
        .value_unit{}
    }
}
.revision_tfoot_item{
    display:flex; justify-content: space-between; align-items: center; padding:0 20px;
    .key_cols{}
    .value_cols{}
}
.revision_tfoot_keytext{display:inline-block; @include font(19px,500,1,#2b2b2b);}
.revision_value_node{ @include font(16px,400,1,#333);}

.note_messge_wrap{
    display:flex; gap:25px; align-items: center;
    .ico{display:block;width:24px;height:24px; flex:0 0 24px; @include bgicon; background-image:url("../images/ico_import_24.png"); border-radius:100%; border:2px solid #767676;}
}
.note_message_group{
    @include font(14px,400,1.6,#4e4e4e);
    > li{
        &:last-of-type{}
    }
}



.box_stack_wrap{margin-bottom:65px;
    &.mbtype2{margin-bottom:20px;}
    &.mbtype3{margin-bottom:30px;}
    &.mbtype4{margin-bottom:50px;}
}
.box_stack_list{
    display:flex; gap:15px; justify-content: center; margin:0 -7.5px; flex-wrap:wrap;
    > li{ flex:0 0 calc(25% - 15px);}
}
.box_stack_item{
    display:flex; border:1px solid #ccc; border-radius:5px; justify-content: center; align-items: center; gap:8px; padding:15px; min-height:50px; box-sizing: border-box;
    .stack_key{@include font(16px,400,1,#4e4e4e);}
    .stack_value{@include font(16px,500,1,#006de1);}
}
.stack_message_row{
 text-align: center; margin-bottom:65px;
}
.stack_message_para{
    @include font(16px,400,1.4,#4e4e4e); word-break:keep-all;
    .highlight{}
}


.note_card_box{border:1px solid #dcdcdc; border-radius:5px; padding:20px 25px; margin-bottom:35px;}
.note_card_title{@include font(16px,400,1.3,#333333);margin-bottom:15px;}
.note_card_cont{
    .indent_node_list{font-size:14px;}
}

.tile_sub_block_wrap{margin-top:60px;}
.tile_sub_block{
    margin-bottom:35px;
    &:last-of-type{margin-bottom:0;}
}
.tile_sub_title_row{display:flex; justify-content: space-between;align-items: center; padding:0;}
.tile_sub_title{@include font(19px,500,1.4,#2b2b2b);}
.tile_sub_else_wrap{
    display:flex; align-items: center; gap:15px;
    .btn_rego_list{}
}
.tile_sub_contents{margin-top:15px;}

.field_grid_wrap{}
.field_grid_list{
    display:flex; flex-wrap:wrap; gap:10px 20px; margin-right:-20px;
    > li{
        flex:0 0 calc(33.3333333% - 20px); display:flex; flex-direction: column;
    }
}
.field_grid_slice{
    background:#f9f9f9; flex:1;  border-radius: 5px; display:flex; justify-content: space-between; align-items: center; gap:20px; padding:17px 20px;
    .key_cols{}
    .value_cols{}
}
.grid_keyword{display:inline-block; @include font(16px,400,1.3,#333333); white-space: nowrap;}
.amount_price_dom{
    display:flex; align-items: center;
    .value_number{@include font(20px,500,1,#333333);}
    .value_unit{@include font(16px,400,1,#333333);}
}
.amount_input_cols{flex:1; padding-right:5px;}
input.amount_input{appearance: none; line-height:1; height:34px; background:#fff; border-radius:4px; @include font(18px,500,1,#333333); text-align: right; padding:0 10px; width:100%; box-sizing: border-box;} 


@media (max-width:$mobile_large){
    .product_slice_data_wrap{
        & + .tile_form_wrap{margin-top:20px;}
    }
    .tile_form_list{
         > li{padding:20px 0;}
    }
    .tile_form_item{
         .label_row{margin-bottom:10px;
            
            &.mb_break{flex-direction: column; align-items:normal; gap:10px;}
            .tile_form_label{font-size:14px;}
        }
    }
    input.form_input{height:40px;font-size:13px;border-radius:3px;padding:0 10px;}
    .formdom_linked_list{
        flex-direction: column; align-items: normal; justify-content: flex-start; margin:0;
        gap:5px;
        > li{ flex:none;}
    }
    .form_count_box{min-height:40px;border-radius:3px;
        .btn_inde_control{width:24px;height:24px;}
    }
    .count_fraction_node{font-size:14px;padding:0 10px;}
    .count_number{font-size:16px;}
    .contblock_title_row{gap:10px;margin-bottom:10px;
        &.mb_break_type{flex-direction:column; align-items:normal;}
    }
    .cb_title{font-size:14px; white-space:nowrap;}
    .box_props_group{height:40px;max-width:108.34px;}
    input.box_props_form{height:40px;}
    .box_props_label{border-radius:3px;font-size:13px;}
    .textarea_dom{border-radius:3px; font-size:13px;padding:10px;}
    .btn_text_node{font-size:14px; padding-bottom:2px;top:1px;}
    .agree_dp_item{gap:10px;font-size:0;line-height:0;}
    .agree_container{
        margin-left:0;
         .total_row{margin-bottom:10px;}
    }
    .agree_detail_list{
         > li{margin-bottom:10px;}
    }

    .sheetbox_wrap{margin-top:25px;}
    .sheetbox_item{border-radius:5px;
        .title_row{padding:15px 20px;}
        .contents_row{padding:15px 20px;}
    }
    .sheetbox_title{font-size:14px;}
    .revision_total_item{padding:15px;}
    .revision_keyword{font-size:14px;}
    .revision_price_dom{
         .value_number{font-size:16px;}
         .value_unit{font-size:14px;}
    }
    .revision_value_node,
    .revision_keytext{font-size:14px;}
    .revision_detail_list{padding:15px;}
    .note_messge_wrap{flex-direction: column; align-items: normal; gap:15px;
        .ico{margin:0 auto;}
    }

    .form_stack_box{min-height:40px;}
    .stack_current_node{font-size:14px;
        .emp{font-size:16px;}
    }
    .label_form_notice{font-size:13px;}
    .box_stack_list{
        gap:10px; margin:0 -5px;
        > li{ flex:0 0 calc(50% - 10px);}
    }
    .box_stack_item{
       gap:5px; padding:10px; min-height:45px;
        .stack_key,
        .stack_value{font-size:14px;}
    }
    .stack_message_row{
        margin-bottom:30px;
    }
    .revision_tfoot_keytext,
    .stack_message_para{
        font-size:14px;
    }
    .revision_tfoot_item,
    .revision_btn_row{padding:0 15px;}

    .box_stack_wrap{margin-bottom:30px !important;}
    .cb_current_notice{font-size:14px;}

    
    .tile_form_list{
         .btn_vertex_wrap{margin-top:20px;}
    }



        
    .note_card_box{padding:15px; margin-bottom:20px;}
    .note_card_title{font-size:14px;}
    .note_card_cont{
        .indent_node_list{font-size:14px;}
    }

    .tile_sub_block_wrap{margin-top:30px;}
    .tile_sub_block{
        margin-bottom:20px;
    }
    .tile_sub_title{font-size:14px;}
    .tile_sub_else_wrap{
         gap:10px;
    }

    .field_grid_wrap{}
    .field_grid_list{
        display:flex; flex-wrap:wrap; gap:5px 0; margin-right:0;
        > li{
            flex:0 0 100%; display:flex; flex-direction: column;
        }
    }
    .field_grid_slice{
        gap:10px; padding:15px 15px;
    }
    .grid_keyword{font-size:14px;}
    .amount_price_dom{
        .value_number{font-size:16px;}
        .value_unit{font-size:14px;}
    }
    input.amount_input{ font-size:14px; } 

}