.desc_block_group{}
.desc_block{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.desc_title_row{padding-bottom:10px;border-bottom:1px solid #e7e7e7; margin-bottom:18px;}
.desc_title{@include font(17px,400,1.3,#333333);}
.desc_contents{}
.desc_empbox{background:#f8f9fb; border-radius:20px; padding:15px 20px;}
.call_number_info_list{
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}
.call_number_info_item{
    display:flex; gap:8px; justify-content: space-between; gap:10px 20px;
    .text_key,
    .text_value{@include font(16px,350,1.3,#333333);word-break: keep-all;}
    .text_key{}
    .text_value{}
    .ico{width:28px;height:28px; border-radius:100%; flex:0 0 28px; @include bgicon; background-image:url("../images/ico_call_28.png");background-color:#6d84a9;}
}

@media (max-width:$mobile_large){
    .desc_title{font-size:15px;}
    .call_number_info_item{
        .text_key,
        .text_value{font-size:14px; }
    }
    .desc_empbox{border-radius:10px;}
}