/* layout */
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}


.front_body{}
.page_wrap{min-width:280px;}


/* footer */
.footer_wrap{position:relative;}
.btn_pagetop_wrap{width:1200px; margin:0 auto;height:0; position:absolute;top:0;left:0;}
.btn_pagetop{position:absolute;top:0;right:-74px; width:60px;height:60px; @include bgicon; background-image:url("../images/btn_topgo.png"); border:1px solid #cacaca; border-radius:100%;}
.footer_inform_row{
    border-top:1px solid #e5e5e5; padding:15px; min-height:44px;
    .inner_container{
        display:flex; justify-content: space-between; gap:20px; align-items:center;
    }
    .inform_cols{}
}
.inner_container{max-width:1200px; margin:0 auto; padding:0 30px;}
.footer_linkage_field{
    display:flex; align-items:center;
    .title_cols{margin-right:13px;white-space:nowrap;}
    .linkage_title{@include font(19px,500,1,#333333);}
    .contents_cols{flex:1; min-width:0;}
    .btn_cols{margin-left:45px;white-space:nowrap;}
}
.footer_linkage_field{}
.footer_notice_container{
    &.swiper-wrapper{}
    &.swiper-slide{}
    .linkage_chip{display:flex; align-items:center; gap:20px;}
    .chip_main,
    .chip_else{@include font(14px,400,1.3,#6d6c6c);}
    .chip_main{@include clamp(1);}
    .chip_else{}
}
.btn_chip_more{
    display: inline-block; padding-right:12px; position:relative;
    &:after{
        display:block; content:''; width:5px; height:5px; border-right:1px solid #5f5f5f; border-bottom:1px solid #5f5f5f; transform:translate(-45deg); position:absolute;top:0;right:0p;
    }
    .text_node{display:inline-block; @include font(14px,400,1,#6d6c6c);}
}
.footer_sns_list{
    display:flex; align-items:center; gap:10px; font-size:0;line-height:0; justify-content: flex-end;
    > li{}
}
.footer_sns_thing{
    display:inline-block;
     img{vertical-align:middle;}
}
.footer_main_row{
    border-top:1px solid #e5e5e5; padding:30px 0;
    .inner_container{display:flex; gap:80px;}
}
.info_01_cols{background:#fbfbfb; border-radius:10px; padding:25px 35px;}
.info_02_cols{}
.main_cols{}
.foot_info_block{
    &:last-of-type{}
}
.foot_info_title_main{@include font(18px,400,1.3,#333333);}
.foot_info_title_copy{@include font(13px,350,1.3,#5f5f5f);}
.foot_info_slice_list{
    @include font(15px,350,1.3,#4e4e4e);
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}

.btn_tin_list{
    > li{

    }
}
.btn_tin{
    display:inline-flex; border:1px solid #dedede; border-radius:10px; background:#fff; padding:7px 13px; min-height:32px; align-items:center; box-sizing:border-box;
    .ico{
        @include bgicon;
        &.call{}
    }
    .text_node{}
}
.foot_vertical_menu_wrap{}
.footer_vmenu_title{}
.footer_vmenu_list{
    >li{
        &:last-of-type{}
    }
}
.vmenu_obj{}

.foot_main_menu_wrap{}
.foot_main_menu_list{
    > li{}
}
.foot_main_menu{}

.foot_copy_slice_wrap{}
.footer_copy_slice_list{
     > li{
        &:last-of-type{}
     }
}
.foot_copy_slice{}
.foot_main_copyright{}